@import url(reset/reset.css);
@import url(../fonts/fonts.css);
@import url(header/header.css);
@import url(hero/hero.css);
@import url(whatwedo/whatwedo.css);
@import url(gallery/gallery.css);
@import url(footer/footer.css);
@import url(news/news.css);