@import url(reset/reset.css);
@import url(../fonts/fonts.css);
@import url(header/header.css);
body {
  background-image: url(../img/desctop/hero-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
}