@import url(../scss/media_queries/media_queries.css);
@import url(../scss/resetCSS/reset.css);
@import url(../fonts/fonts.css);
@import url(../scss/variables/variables.css);
@import url(../scss/header/header.css);
@import url(../scss/general/general.css);
@import url(../scss/hero/hero.css);
@import url(../scss/info/info.css);
@import url(../scss/benefits/benefits.css);
@import url(../scss/quote/quote.css);
@import url(../scss/video/video.css);
@import url(../scss/promises/promises.css);
@import url(../scss/reviews/reviews.css);
@import url(../scss/contacts/contacts.css);
@import url(../scss/rights/rights.css);