@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 599px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 600px) and (max-width: 899px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 900px) {
      @content;
    }
  } @else if $breakpoint == middlepc {
    @media only screen and (max-width: 1350px) {
      @content;
    }
  }
}
.reviews {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  &__content {
    @include respond-to(middlepc) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include respond-to(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include respond-to(phone) {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    display: flex;
    justify-content: space-between;
  }

  &__author {
    position: absolute;
    left: 40px;
    bottom: 30px;
  }

  &__description {
    position: relative;
    font-family: "lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  &__title_item {
    @include respond-to(phone) {
      text-align: center;
    }
    font-family: "PlayfairDisplay";
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    padding-bottom: 20px;
  }
  &__title {
    @include respond-to(phone) {
      margin-bottom: 30px;
      width: 100%;
    }
    width: 400px;
    align-self: self-start;
    margin-bottom: 30px;
  }
  &__content_block {
    position: relative;
    width: 370px;
    height: 340px;
    padding: 30px 40px;
  }

  &__content_block:not(:last-child) {
    @include respond-to(middlepc) {
      margin-bottom: 20px;
    }
    @include respond-to(tablet) {
      margin-bottom: 20px;
    }
    @include respond-to(phone) {
      margin-bottom: 20px;
    }
    margin-right: 30px;
    left: 16px;
  }
  &-jamika {
    background-image: url(../../image/pc/main-content/jamika.webp);
    background-size: cover;
    @include respond-to(phone) {
      background-image: url(../../image/phone/main-content/jamika.webp);
      background-size: cover;
    }
  }
  &-evie {
    background-image: url(../../image/pc/main-content/evie.webp);
    background-size: cover;
    @include respond-to(phone) {
      background-image: url(../../image/phone/main-content/evie.webp);
      background-size: cover;
    }
  }
  &-elvis {
    @include respond-to(phone) {
      background-image: url(../../image/phone/main-content/elvis.webp);
      background-size: cover;
    }
    background-image: url(../../image/pc/main-content/elvis.webp);
    background-size: cover;
  }
  &__author_item {
    font-family: "PlayfairDisplay";
    font-size: 20px;
    font-style: italic;
    letter-spacing: calc(20px / 100 * 8);
  }
}
