@import url(../variables/variables.css);
@import url(../../fonts/fonts.css);
@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 602px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 603px) and (max-width: 912px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 913px) {
      @content;
    }
  }
}
.hero-slider {
  &__item {
    img {
      width: 100%;
    }
    position: relative;
  }
}
.cta {
  color: var(--brown-light);
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  top: 120px;
  right: 100px;
  @include respond-to(tablet) {
    top: 60px;
    right: 40px;
    gap: 25px;
  }
  @include respond-to(phone) {
    top: 40px;
    width: 300px;
    right: 40px;
    gap: 20px;
  }
  &__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 60.95px;
    text-align: center;
    text-transform: uppercase;
    @include respond-to(tablet) {
      font-size: 30px;
      line-height: 40.95px;
    }
    @include respond-to(phone) {
      font-size: 20px;
      line-height: 30.95px;
    }
  }
  &__btn {
    padding: 15px 57px;
    border: 2px solid var(--brown-light);
    font-size: 18px;
    line-height: 21.94px;
    text-align: center;
    background: transparent;
    color: var(--brown-light);
    @include respond-to(phone) {
      padding: 10px 37px;
    }

    &-hovered {
      background-color: var(--tomato-light);
      transition: 0.3s ease-in-out;
    }
  }
}
.hero-dots {
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  @include respond-to(phone) {
    gap: 20px;
    bottom: 20px;
    transform: translateX(-50%);
  }
}
.hero-dots li {
  position: relative;
}
.hero-dots li button {
  color: transparent;
  background: transparent;
  border-color: transparent;
}
.hero-dots li button:before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  background: var(--brown-light);
}
.hero-dots li.slick-active button:before {
  background: var(--tomato-light);
}
