@import url(../variables/variables.css);
@import url(../../fonts/fonts.css);
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
  height: 80px;
  width: 100%;
  background-color: var(--brown-light);
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .header {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 602px) {
  .header {
    padding: 0 10px;
  }
}

.logo {
  max-width: 182px;
  max-height: 34px;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .logo {
    max-width: 168px;
    max-height: 31px;
  }
}
@media only screen and (max-width: 602px) {
  .logo {
    max-width: 100px;
    max-height: 19px;
  }
}

.search-profile-container {
  margin-right: 60px;
}
.search-profile-container > img:not(:first-child) {
  margin-left: 30px;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .search-profile-container > img:not(:first-child) {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 602px) {
  .search-profile-container > img:not(:first-child) {
    margin-left: 10px;
  }
}
.search-profile-container * {
  max-width: 36px;
  max-height: 36px;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .search-profile-container * {
    max-width: 27px;
    max-height: 27px;
  }
}
@media only screen and (max-width: 602px) {
  .search-profile-container * {
    max-width: 20px;
    max-height: 20px;
  }
}

.nav {
  height: 100%;
}
@media only screen and (max-width: 602px) {
  .nav {
    display: none;
  }
}
.nav__item {
  display: inline-block;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  color: var(--black);
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .nav__item {
    padding-right: 0.5vw;
    padding-left: 0.5vw;
  }
}
@media only screen and (max-width: 602px) {
  .nav__item {
    width: 100%;
    text-align: center;
  }
}
.nav__item-hovered {
  background-color: var(--tomato-light);
  color: #fff;
}

.burger {
  display: none;
  width: 34px;
  height: 25px;
  position: absolute;
  right: 135px;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
@media only screen and (max-width: 602px) {
  .burger {
    display: block;
    right: 20px;
    top: 40px;
    z-index: 10;
  }
}
.burger span {
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: var(--black);
}
.burger span::after,
.burger span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--black);
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger span::before {
  top: 0;
}
.burger span::after {
  bottom: 0;
}
.burger.active span {
  background: none;
}
.burger.active span::before {
  top: 45%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.burger.active span::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav.open {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: var(--brown-light);
}