@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 599px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 600px) and (max-width: 899px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }
}
%nav-item-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: calc(14px / 100 * 8);
}
.cube {
  width: 33px;
  height: 32px;
  perspective: 500px;
  margin-right: 20px;
  &__wrapper {
    perspective: 500px;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    animation: spin 10s linear infinite;
  }
}
.side {
  position: absolute;
  width: inherit;
  height: inherit;
}
.front {
  transform: translateZ(16px);
}

.back {
  transform: rotateY(180deg) translateZ(16px);
}

.right {
  transform: rotateY(90deg) translateZ(16px);
}

.left {
  transform: rotateY(-90deg) translateZ(16px);
}

.top {
  transform: rotateX(90deg) translateZ(16px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(16px);
}
@keyframes spin {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}
.header {
  @include respond-to(tablet) {
    padding: 0 9vw;
  }
  @include respond-to(phone) {
    padding: 0 9vw;
  }
  width: 100%;
  height: 80px;
  background-color: rgba(22, 25, 38, 0.3);
  padding: 0 135px;
  display: flex;
  align-items: center;
  &__margin {
    margin-top: 30px;
  }

  &__inner {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
  }
}
.logo {
  margin-right: 15px;
  &__container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
  }
}
.nav__list.open {
  @include respond-to(tablet) {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
.nav {
  &__list.open {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__wrapper {
    @include respond-to(tablet) {
      width: 30%;
    }
    @include respond-to(phone) {
      width: 30%;
    }
    width: 490px;
    padding-top: 5px;
  }
  &__list {
    @include respond-to(tablet) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #262a3f;
      padding: 100px;
    }
    @include respond-to(phone) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #262a3f;
      padding: 100px;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    text-decoration: none;
    color: #fff;
    @extend %nav-item-font;
  }
  &__item {
    position: relative;
  }
}
.active_page::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #53f3cd, #000);
  left: 0;
  top: 100%;
}
.nav__link:not(.active_page)::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  background: linear-gradient(to right, #fff, #000);
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}
.nav__list .nav__item:hover .nav__link::after {
  width: 100%;
}
.logo__container {
  z-index: 11;
}

.burger {
  @include respond-to(tablet) {
    display: block;
    right: 10vw;
    top: 45px;
    z-index: 10;
  }
  @include respond-to(phone) {
    display: block;
    right: 10vw;
    top: 45px;
    z-index: 10;
  }
  display: none;
  width: 34px;
  height: 25px;
  position: absolute;
  right: 135px;
  bottom: 50%;
  transform: translateY(50%);
  cursor: pointer;
  span {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #fff;
  }

  span::after,
  span::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  span::before {
    top: 0;
  }
  span::after {
    bottom: 0;
  }
  &.active span {
    background: none;
  }
  &.active span::before {
    top: 45%;
    transform: rotate(-45deg);
  }
  &.active span::after {
    bottom: 50%;
    transform: rotate(45deg);
  }
}
