.nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.12px;
}

.cube {
  width: 33px;
  height: 32px;
  -webkit-perspective: 500px;
          perspective: 500px;
  margin-right: 20px;
}
.cube__wrapper {
  -webkit-perspective: 500px;
          perspective: 500px;
  width: inherit;
  height: inherit;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.side {
  position: absolute;
  width: inherit;
  height: inherit;
}

.front {
  -webkit-transform: translateZ(16px);
          transform: translateZ(16px);
}

.back {
  -webkit-transform: rotateY(180deg) translateZ(16px);
          transform: rotateY(180deg) translateZ(16px);
}

.right {
  -webkit-transform: rotateY(90deg) translateZ(16px);
          transform: rotateY(90deg) translateZ(16px);
}

.left {
  -webkit-transform: rotateY(-90deg) translateZ(16px);
          transform: rotateY(-90deg) translateZ(16px);
}

.top {
  -webkit-transform: rotateX(90deg) translateZ(16px);
          transform: rotateX(90deg) translateZ(16px);
}

.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(16px);
          transform: rotateX(-90deg) translateZ(16px);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
            transform: rotateY(360deg) rotateX(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
            transform: rotateY(360deg) rotateX(360deg);
  }
}
.header {
  width: 100%;
  height: 80px;
  background-color: rgba(22, 25, 38, 0.3);
  padding: 0 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .header {
    padding: 0 9vw;
  }
}
@media only screen and (max-width: 599px) {
  .header {
    padding: 0 9vw;
  }
}
.header__margin {
  margin-top: 30px;
}
.header__inner {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-right: 15px;
}
.logo__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .nav__list.open {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
}

.nav__list.open {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.nav__wrapper {
  width: 490px;
  padding-top: 5px;
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .nav__wrapper {
    width: 30%;
  }
}
@media only screen and (max-width: 599px) {
  .nav__wrapper {
    width: 30%;
  }
}
.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .nav__list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262a3f;
    padding: 100px;
  }
}
@media only screen and (max-width: 599px) {
  .nav__list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262a3f;
    padding: 100px;
  }
}
.nav__link {
  text-decoration: none;
  color: #fff;
}
.nav__item {
  position: relative;
}

.active_page::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#53f3cd), to(#000));
  background: linear-gradient(to right, #53f3cd, #000);
  left: 0;
  top: 100%;
}

.nav__link:not(.active_page)::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#000));
  background: linear-gradient(to right, #fff, #000);
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.nav__list .nav__item:hover .nav__link::after {
  width: 100%;
}

.logo__container {
  z-index: 11;
}

.burger {
  display: none;
  width: 34px;
  height: 25px;
  position: absolute;
  right: 135px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .burger {
    display: block;
    right: 10vw;
    top: 45px;
    z-index: 10;
  }
}
@media only screen and (max-width: 599px) {
  .burger {
    display: block;
    right: 10vw;
    top: 45px;
    z-index: 10;
  }
}
.burger span {
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.burger span::after,
.burger span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger span::before {
  top: 0;
}
.burger span::after {
  bottom: 0;
}
.burger.active span {
  background: none;
}
.burger.active span::before {
  top: 45%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.burger.active span::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}