@media screen and (max-width: "900px") {
  .burger {
    display: block;
    right: 10vw;
  }
  .header{
    padding:0 10vw;
  }

  .nav {
    &__list {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #262a3f;
      padding: 100px;
    }

    &__list.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
  }
}

