@import url(../scss/header/header-media.css);
.nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.12px;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgba(22, 25, 38, 0.3);
  position: fixed;
  top: 30px;
  left: 0;
  padding: 0 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner {
  width: 1170px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-right: 15px;
}
.logo__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__wrapper {
  width: 490px;
  padding-top: 5px;
}
.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__link {
  text-decoration: none;
  color: #fff;
}
.nav__item {
  position: relative;
}

.active_page::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#53f3cd), to(#000));
  background: linear-gradient(to right, #53f3cd, #000);
  left: 0;
  top: 100%;
}

.nav__link:not(.active_page)::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#000));
  background: linear-gradient(to right, #fff, #000);
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.nav__list .nav__item:hover .nav__link::after {
  width: 100%;
}

.logo__container {
  z-index: 10;
}

.burger {
  display: none;
  width: 34px;
  height: 25px;
  position: absolute;
  right: 135px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.burger span {
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.burger:hover {
  cursor: pointer;
}
.burger span::after,
.burger span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger span::before {
  top: 0;
}
.burger span::after {
  bottom: 0;
}
.burger.active span {
  opacity: 1;
}
.burger.active::before {
  top: 45%;
  -webkit-transform: rotate(-225deg) translate(0, 50%);
          transform: rotate(-225deg) translate(0, 50%);
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: rotate(225deg) translate(0, -50%);
          transform: rotate(225deg) translate(0, -50%);
}