@import url(../scss/header/header-media.css);
%nav-item-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: calc(14px / 100 * 8);
}
.header {
  width: 100%;
  height: 80px;
  background-color: rgba(22, 25, 38, 0.3);
  padding: 0 135px;
  display: flex;
  align-items: center;
  &__margin {
    margin-top: 30px;
  }

  &__inner {
    width: 1170px;
    height: max-content;
    display: flex;
    justify-content: space-between;
  }
}
.logo {
  margin-right: 15px;
  &__container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
  }
}
.nav {
  &__wrapper {
    width: 490px;
    padding-top: 5px;
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    text-decoration: none;
    color: #fff;
    @extend %nav-item-font;
  }
  &__item {
    position: relative;
  }
}
.active_page::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #53f3cd, #000);
  left: 0;
  top: 100%;
}
.nav__link:not(.active_page)::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  background: linear-gradient(to right, #fff, #000);
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}
.nav__list .nav__item:hover .nav__link::after {
  width: 100%;
}
.logo__container {
  z-index: 11;
}

.burger {
  display: none;
  width: 34px;
  height: 25px;
  position: absolute;
  right: 135px;
  bottom: 50%;
  transform: translateY(50%);
  cursor: pointer;
  span {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #fff;
  }

  span::after,
  span::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  span::before {
    top: 0;
  }
  span::after {
    bottom: 0;
  }
  &.active span {
    background: none;
  }
  &.active span::before {
    top: 45%;
    transform: rotate(-45deg);
  }
  &.active span::after {
    bottom: 50%;
    transform: rotate(45deg);
  }
}
