@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,600;1,6..12,600&family=Quicksand:wght@500&family=Roboto:wght@400;500&display=swap");
.wrapper {
  position: relative;
  width: 100%;
}
.header-container {
  position: absolute;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #efeef3;
  align-content: center;
}
.header-wrapper_margin {
  margin: 0 135px;
}
.logo {
  display: flex;
}
.logo__text {
  font-family: "Quicksand";
  font-size: 35px;
  line-height: 35px;
}
.logo__text_margin {
  margin-left: 13px;
}
