@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,600;1,6..12,600&family=Quicksand:wght@500&family=Roboto:wght@400;500&display=swap");

:root {
  --sfg-border-color-hover: #52c29d;
  --svg-lightestgreen: #f4feff;
  --svg-lightgreen-fill: #e1f4f5;
  --svg-green-fill: #caeff2;
}

.wrapper {
  width: 100%;
  height: 934px;
}
.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #efeef3;
}
.header__wrapper {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.logo__container {
  display: flex;

  width: 200px;
  height: 35px;
}
.logo__text {
  display: inline-block;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 35px;
  line-height: 35px;
  color: black;
  padding-left: 13px;
}
.main__container {
  width: 1170px;
  height: 461px;
}
.main__container_margin {
  margin: 100px auto 100px;
}
.main__header_margin {
  margin-bottom: 40px;
}
.main__services-block {
  display: flex;
}
.main__service_container {
  width: 370px;
  height: 340px;
  padding: 31px 40px 49px;
  border: 1px solid #e8f3ff;
  border-radius: 8px;
}
.main__service_container:hover {
  border: 1px solid #3db370;
  .light-green-fill {
    fill: var(--svg-lightgreen-fill);
  }
  .lightest-green-fill {
    fill: var(--svg-lightestgreen);
  }
  .svg-green-fill {
    fill: var(--svg-green-fill);
  }
  .svg-border-style-hover {
    fill: var(--sfg-border-color-hover);
  }
}
.main__services-block .main__service_container:not(:last-child) {
  margin-right: 30px;
}
.main__service_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 290px;
  height: 260px;
}
.main__services_item {
  width: 370px;
  height: 340px;
}
.service__svg-block {
  position: relative;
  width: 64px;
  height: 64px;
  border: 1px solid #ffe8e87c;
  border-radius: 16px;
}
.service__svg-item {
  position: absolute;
  top: 14px;
  left: 13px;
}
.service__text-caption {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.2px;
  padding-bottom: 15px;
}
.section__caption {
  font-family: "Roboto";
  color: #7690a8;
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 15px;
}
.service__text-desc {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.service__link_item {
  color: #3db370;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.section__our-goal-text {
  font-family: "Nunito sans";
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.main__services {
  width: 1170px;
  height: 340px;
}
.footer {
  width: 100%;
  height: 193px;
  background-color: #16133d;
  padding: 40px 0;
}
.footer__wrapper_margin {
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 113px;
  width: 1170px;
}
.logo__text_footer-color {
  color: white;
}
.icons__container {
  display: flex;
  justify-content: space-between;
  width: 230px;
  height: 38px;
}
.footer__item_style {
  width: 38px;
  height: 38px;
}
.colorfill {
  fill: #0d0d0d;
}
.footer__item_style:hover .colorfill {
  cursor: pointer;
  fill: #3db370;
}
