@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header-container {
  width: 1170px;
  height: 157px;
}
.header-container .header-wrapper {
  width: 1170px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slogan {
  color: #898f8f;
  font-family: "Railway";
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 0;
}

.title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 66px;
  color: #ffcc00;
  text-transform: uppercase;
  margin: 15px 0 36px;
}