@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.photo__inner::before, .photo__inner::after, .photo__wrapper::before, .photo__wrapper::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
}

.photo {
  width: 430px;
  height: 430px;
}
.photo__wrapper {
  position: relative;
}
.photo__wrapper::before, .photo__wrapper::after {
  border-top: 1px solid #ffcc00;
  top: 0;
}
.photo__wrapper::before {
  border-left: 1px solid #ffcc00;
  left: 0;
}
.photo__wrapper::after {
  border-right: 1px solid #ffcc00;
  right: 0;
}
.photo__inner {
  padding: 15px;
}
.photo__inner::before, .photo__inner::after {
  border-bottom: 1px solid #ffcc00;
  bottom: 0;
}
.photo__inner::before {
  border-left: 1px solid #ffcc00;
  left: 0;
}
.photo__inner::after {
  border-right: 1px solid #ffcc00;
  right: 0;
}

.header-container {
  width: 1170px;
  height: 157px;
}
.header-container .header-wrapper {
  width: 1170px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slogan {
  color: #898f8f;
  font-family: "Railway";
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 0;
}

.title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 66px;
  color: #ffcc00;
  text-transform: uppercase;
  margin: 15px 0 36px;
}

.text-container__header_item, .text-container, .container .wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  width: 1170px;
  height: 757px;
}
.container .wrapper {
  width: 1170px;
  height: 757px;
}

.main-wrapper {
  position: relative;
  width: 1030px;
  height: 560px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.main-wrapper__left {
  padding-top: 65px;
  width: 50%;
  height: 100%;
  border-right: 1px solid #ffcc00;
}
.main-wrapper__right {
  padding-top: 35px;
  width: 50%;
  height: 100%;
}

.divider-container {
  width: 100px;
  height: 1px;
  background-color: #ffcc00;
  margin: -18px auto;
}

.text-container {
  align-items: center;
  margin-left: 85px;
  width: 430px;
  height: 455px;
}
.text-container__header_item {
  text-align: center;
}

.profile-name {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 36px;
  color: #666666;
}

.specialization {
  margin: 50px 0 0px;
  font-family: "Railway";
  font-size: 1.75rem;
  line-height: 2rem;
  color: #666666;
}

.description {
  width: 420px;
  height: 116px;
}
.description__text {
  color: #333333;
  font-family: "Railway";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
}

.button {
  font-family: "Open sans";
  font-weight: 700;
  font-size: 0.825rem;
  color: #666666;
  background-color: #fff;
  border: 1px solid #ffcc00;
  padding: 2px 10px;
  text-transform: uppercase;
}

.social-icons {
  display: block;
  width: 200px;
  height: 30px;
}
.social-link-style {
  width: 30px;
  height: 30px;
}