@import url(../variables/variables.css);
@import url(../../fonts/fonts.css);
.footer {
  position: relative;
  max-width: 100%;
  max-height: 350px;
  background-color: var(--brown-dark);
  padding: 75px 129px;
}
.footer__logo_item {
  margin-bottom: 35px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__nav_item {
  text-decoration: none;
  color: var(--brown-light);
  font-size: 20px;
}
.footer__nav_item:hover {
  color: var(--tomato-light);
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0 2rem;
}
.socials__list_item {
  width: 60px;
}
.socials__list_item a:hover svg path {
  stroke: var(--tomato-light);
  fill: var(--brown-dark);
}

.rights {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: var(--brown-light);
}

h3 {
  color: var(--brown-light);
  font-size: 26px;
}

.tel-num {
  color: var(--brown-light);
  text-decoration: none;
  font-size: 26px;
}