@font-face {
  font-family: "lato";
  src: url(style/fonts/lato/ttf/Lato-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "lato";
  src: url(style/fonts/lato/ttf/Lato-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "red hat display";
  src: url(style/fonts/red-hat-display/ttf/RedHatDisplay-Medium.ttf) format("ttf");
}
@font-face {
  font-family: "red hat display";
  src: url(style/fonts/red-hat-display/ttf/RedHatDisplay-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "red hat display";
  src: url(style/fonts/red-hat-display/ttf/RedHatDisplay-SemiBold.ttf) format("ttf");
}