$f-lato: "lato";
$f-red: "red hat display";
$f-size-hero: clamp(1.875rem, 1.612rem + 1.1688vw, 3rem);
$f-size-blog-item-title: clamp(1.375rem, 1.3604rem + 0.0649vw, 1.4375rem);
$f-size-popular-item-title: clamp(1.375rem, 1.3458rem + 0.1299vw, 1.5rem);
$f-size-aboutus-item-title: clamp(1.5rem, 1.5146rem + -0.0649vw, 1.4375rem);
$f-size-aboutus-item-desc: clamp(1.125rem, 1.1104rem + 0.0649vw, 1.1875rem);
$f-size-footer-title: clamp(2rem, 1.7662rem + 1.039vw, 3rem);
$f-size-rights: clamp(1rem, 1.2206rem + -0.9804vw, 0.75rem);
@mixin font-param($fam, $f-size, $weight, $symspace, $l-height, $f-color) {
  font-family: $fam;
  font-weight: $weight;
  letter-spacing: calc($f-size / 100 * $symspace);
  font-size: $f-size;
  color: $f-color;
  line-height: calc($f-size * $l-height / 100);
}
//general style
.container {
  max-width: 100%;
  min-width: 360px;
  margin: 5px 5px 0;
}
//header style
.header-container {
  max-width: 100%;
  height: 5vw;
  padding: 2% 10% 2% 10%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 20;
}
.search-ico {
  margin-top: -10px;
  width: 17px;
  height: 16px;
}
.nav {
  display: flex;
  justify-content: space-between;
  &__link {
    text-decoration: none;
    color: black;
  }
  &__item {
    position: relative;
    @include font-param($f-lato, 14px, 400, 30, 1, #000);
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__container {
    width: 51%;
    display: flex;
    justify-content: space-between;
  }
  &__wrapper {
    margin-top: 0px;
    width: 90%;
    margin-right: 15%;
  }
}
.underscore {
  margin-top: 14px;
  width: 72%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.burger {
  display: none;
  width: 34px;
  height: 25px;
  position: relative;
  span {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #000;
  }
  &-menu__container {
    display: flex;
    align-items: center;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  &.active span {
    opacity: 0;
  }
  &.active::before {
    top: 45%;
    transform: rotate(-225deg) translate(0, 50%);
  }
  &.active::after {
    bottom: 50%;
    transform: rotate(225deg) translate(0, -50%);
  }
  &:hover {
    cursor: pointer;
  }
}
//hero section style
.hero {
  padding-top: 5vw;
  position: relative;
  max-width: 100%;
  height: calc(100vw * 0.41);
  &-photo {
    max-width: 100vw;
  }
  &__text {
    position: absolute;
    top: 30%;
    left: 9vw;
    height: 8rem;
  }
  &__pargraph {
    @include font-param($f-red, $f-size-hero, 600, 5, 133, #000);
  }
}
//section main style
.main {
  margin: 182px 9vw 104px;
  max-width: 100vw;
}
.blog {
  margin: 90px 0;
  &__item {
    width: auto;
    height: 470px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  &__item-second {
    width: auto;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 50px;
  }
  &__img_item {
    max-width: 650px;
    min-width: 300px;
    width: 39vw;
  }
  &__text-container {
    margin-left: 26px;
    width: 450px;
    height: 300px;
  }
  &__text-container-left {
    margin-right: 30px;
    width: 450px;
    height: 300px;
  }
  &__title {
    @include font-param($f-red, 3rem, 400, 5, 64, #000);
    padding-bottom: 70px;
  }
}
.arrow-link {
  padding-left: 12px;
  font-size: 27px;
}
.text {
  &-under-header {
    @include font-param($f-lato, 16px, 400, 10, 166, #7b7b7b);
    padding-bottom: 22px;
  }
  &-date {
    @include font-param($f-lato, 16px, 400, 10, 166, #7b7b7b);
    padding-bottom: 50px;
  }
  &-title {
    @include font-param($f-red, $f-size-blog-item-title, 600, 10, 166, #000);
    padding-bottom: 5px;
  }
  &-desc {
    @include font-param($f-lato, 16px, 400, 5, 166, #565656);
    padding-bottom: 10px;
  }
}
//section post style
.post {
  max-width: 100%;
  height: fit-content;
  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  &__header_link {
    @include font-param($f-lato, 16px, 400, 10, 166, #7b7b7b);
    text-decoration: none;
    text-transform: capitalize;
  }
  &__header_title {
    @include font-param($f-red, 28px, 600, 10, 166, #000);
  }
  &__text-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
  }
  &__text_item {
    margin: 25px 0 65px;
  }
  &__text-header_item {
    @include font-param($f-lato, 12px, 400, 10, 166, #7b7b7b);
  }
  &__cards-container {
    max-width: 100%;
    display: flex;
  }
  &__text_desc {
    @include font-param($f-lato, 16px, 400, 5, 166, #565656);
    margin-top: -4px;
  }
  &__card_item {
    flex: 1;
  }
  &__text_title {
    @include font-param($f-red, 22px, 600, 10, 166, #000);
    padding-bottom: 20px;
  }
  &__card_img {
    max-width: 100%;
    flex: 1;
  }
}
.post__cards-container .post__card_item:not(:last-child) {
  margin-right: 30px;
}
//section popular style
.popular {
  margin-top: 50px;
  padding-bottom: 90px;
}
.popular__text_title {
  margin-top: -8px;
  @include font-param($f-red, $f-size-popular-item-title, 600, 10, 166, #000);
  padding-bottom: 20px;
}
.button {
  @include font-param($f-lato, 16px, 700, 10, 166, #fff);
  width: 180px;
  height: 46px;
  background-color: #565656;

  &-container {
    margin-top: -10px;
    text-align: center;
  }
}
//section aboutus style
.aboutus {
  display: flex;
  justify-content: space-between;
  margin-bottom: 116px;
  &__title {
    max-width: 470px;
  }

  &__title_item {
    @include font-param($f-red, $f-size-aboutus-item-title, 400, 10, 166, #000);
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 470px;
  }
  &__desc_item {
    @include font-param($f-lato, $f-size-aboutus-item-desc, 400, 5, 168, #000);
  }
}
//section footer style
.footer {
  background-color: #f4f4f4;
  position: relative;
  padding: 5vw 10vw;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.contacts {
  max-width: 375px;
  height: 160px;
  &__title {
    @include font-param($f-red, $f-size-footer-title, 400, 5, 134, #000);
    padding-bottom: 30px;
  }
  &__item {
    @include font-param($f-lato, 16px, 400, 10, 166, #000);
    padding-bottom: 16px;
  }
}
.rights {
  &__container {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__item {
    @include font-param($f-lato, $f-size-rights, 400, 10, 166, #000);
    margin-bottom: 20px;
  }
}
span:hover {
  cursor: pointer;
}
.socials {
  width: 269px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.footer__item_style {
  width: 50px;
  height: 50px;
  stroke: #565656;
}
.social_link {
  color: #565656;
}
.social_link:hover {
  color: #fff;
}
.colorfill {
  fill: #fff;
}

.footer__item_style:hover .colorfill {
  fill: #565656;
}
