.container {
  max-width: 100vw;
  min-width: 320px;
}

.header-container {
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: -13px;
  padding: 0 135px;
  max-width: 100%;
  height: 5vw;
  min-height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 20;
}

.logo {
  width: 145px;
  height: 13px;
}

.search-ico {
  width: 17px;
  height: 16px;
}

.nav {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__link {
  text-decoration: none;
  color: black;
}
.nav__item {
  position: relative;
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 4.2px;
  font-size: 14px;
  color: #000;
  line-height: 0.14px;
  text-transform: uppercase;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__container {
  width: 51%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__wrapper {
  width: 84%;
}

.nav__list .nav__item:first-child .nav__link::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-60%);
      -ms-transform: translateX(-60%);
          transform: translateX(-60%);
}

.nav__list .nav__item .nav__link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-60%);
      -ms-transform: translateX(-60%);
          transform: translateX(-60%);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.nav__list .nav__item:hover .nav__link::after {
  width: 70%;
}

.burger {
  display: none;
  width: 34px;
  height: 25px;
  position: relative;
}
.burger span {
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: #000;
}
.burger-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active span {
  opacity: 0;
}
.burger.active::before {
  top: 45%;
  -webkit-transform: rotate(-225deg) translate(0, 50%);
      -ms-transform: rotate(-225deg) translate(0, 50%);
          transform: rotate(-225deg) translate(0, 50%);
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: rotate(225deg) translate(0, -50%);
      -ms-transform: rotate(225deg) translate(0, -50%);
          transform: rotate(225deg) translate(0, -50%);
}
.burger:hover {
  cursor: pointer;
}

.hero {
  padding-top: 5vw;
  width: 100%;
}
.hero__container {
  width: 100%;
}
.hero__picture {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__text {
  position: absolute;
  top: calc(5vw + 100px);
  left: 9.2vw;
}
.hero__pargraph {
  font-family: "red hat display";
  font-weight: 600;
  letter-spacing: calc(clamp(1.875rem, 1.5536rem + 1.6071vw, 3rem) / 100 * 5);
  font-size: clamp(1.875rem, 1.5536rem + 1.6071vw, 3rem);
  color: #000;
  line-height: calc(clamp(1.875rem, 1.5536rem + 1.6071vw, 3rem) * 133 / 100);
}

.main {
  margin: 90px 0;
  padding: 0 135px;
  max-width: 100vw;
}

.main > section:not(:last-child) {
  margin-bottom: 90px;
}

.blog {
  width: 100%;
}
.blog__title {
  font-family: "red hat display";
  font-weight: 400;
  letter-spacing: 2.4px;
  font-size: 48px;
  color: #000;
  line-height: 63.84px;
}
.blog__item {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}
.blog__img {
  width: 940px;
}
.blog__img_item {
  display: inline-block;
  min-width: 200px;
  width: 39vw;
}
.blog__text-container {
  margin-left: 30px;
  width: 450px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.blog__text-container-left {
  margin-right: 30px;
  width: 450px;
  height: 300px;
}

.blog .blog__item:nth-child(odd) {
  width: 100%;
  height: 33vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 50px;
}

.arrow-link {
  background-color: #fff;
  border: none;
  font-size: 25px;
}

.arrow-link span {
  padding-right: 20px;
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 1.6px;
  font-size: 16px;
  color: #7b7b7b;
  line-height: 26.56px;
}

.text-under-header {
  display: inline-block;
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 1.6px;
  font-size: 16px;
  color: #7b7b7b;
  line-height: 26.56px;
  padding-bottom: 20px;
}
.text-date {
  display: inline-block;
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 1.6px;
  font-size: 16px;
  color: #7b7b7b;
  line-height: 26.56px;
  padding-bottom: 50px;
}
.text-title {
  display: inline-block;
  font-family: "red hat display";
  font-weight: 600;
  letter-spacing: calc(clamp(1.375rem, 1.3604rem + 0.0649vw, 1.4375rem) / 100 * 10);
  font-size: clamp(1.375rem, 1.3604rem + 0.0649vw, 1.4375rem);
  color: #000;
  line-height: calc(clamp(1.375rem, 1.3604rem + 0.0649vw, 1.4375rem) * 166 / 100);
  padding-bottom: 15px;
}
.text-desc {
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 0.8px;
  font-size: 16px;
  color: #565656;
  line-height: 26.56px;
}

.post {
  max-width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: -15px;
}
.post__header {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0px;
}
.post__header_link {
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 1.6px;
  font-size: 16px;
  color: #7b7b7b;
  line-height: 26.56px;
  text-decoration: none;
  text-transform: capitalize;
}
.post__header_title {
  font-family: "red hat display";
  font-weight: 600;
  letter-spacing: 2.8px;
  font-size: 28px;
  color: #000;
  line-height: 46.48px;
}
.post__cards-container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.post__card_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.post__card_img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.post__text-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}
.post__text-header_item {
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 1.2px;
  font-size: 12px;
  color: #7b7b7b;
  line-height: 19.92px;
}
.post__text_title {
  font-family: "red hat display";
  font-weight: 600;
  letter-spacing: 2.2px;
  font-size: 22px;
  color: #000;
  line-height: 36.52px;
  padding-bottom: 20px;
}
.post__text_desc {
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 0.8px;
  font-size: 16px;
  color: #565656;
  line-height: 26.56px;
}

.post__cards-container .post__card_item:not(:last-child) {
  margin-right: 30px;
}

.popular {
  padding-top: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.popular__cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular__cards-container .post__card_item:first-child {
  margin-right: 30px;
}

.popular__text_title {
  margin-top: -8px;
  font-family: "red hat display";
  font-weight: 600;
  letter-spacing: calc(clamp(1.375rem, 1.3458rem + 0.1299vw, 1.5rem) / 100 * 10);
  font-size: clamp(1.375rem, 1.3458rem + 0.1299vw, 1.5rem);
  color: #000;
  line-height: calc(clamp(1.375rem, 1.3458rem + 0.1299vw, 1.5rem) * 166 / 100);
  padding-bottom: 20px;
}

.button {
  font-family: "lato";
  font-weight: 700;
  letter-spacing: 1.6px;
  font-size: 16px;
  color: #fff;
  line-height: 26.56px;
  width: 180px;
  height: 46px;
  background-color: #565656;
}
.button-container {
  margin-top: 50px;
  text-align: center;
}

.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutus__title {
  max-width: 470px;
}
.aboutus__title_item {
  font-family: "red hat display";
  font-weight: 400;
  letter-spacing: calc(clamp(1.5rem, 1.5146rem - 0.0649vw, 1.4375rem) / 100 * 10);
  font-size: clamp(1.5rem, 1.5146rem - 0.0649vw, 1.4375rem);
  color: #000;
  line-height: calc(clamp(1.5rem, 1.5146rem - 0.0649vw, 1.4375rem) * 166 / 100);
}
.aboutus__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 470px;
}
.aboutus__desc_item {
  font-family: "lato";
  font-weight: 400;
  letter-spacing: calc(clamp(1.125rem, 1.1104rem + 0.0649vw, 1.1875rem) / 100 * 5);
  font-size: clamp(1.125rem, 1.1104rem + 0.0649vw, 1.1875rem);
  color: #000;
  line-height: calc(clamp(1.125rem, 1.1104rem + 0.0649vw, 1.1875rem) * 168 / 100);
}

.aboutus__desc_item:first-child {
  padding-bottom: 32px;
}

.footer {
  margin-top: -5px;
  background-color: #f4f4f4;
  position: relative;
  padding: 0 135px;
  height: 300px;
  position: relative;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  margin-bottom: 20px;
}

.contacts {
  max-width: 375px;
  height: 160px;
}
.contacts__title {
  font-family: "red hat display";
  font-weight: 400;
  letter-spacing: calc(clamp(2rem, 1.2857rem + 3.5714vw, 3rem) / 100 * 5);
  font-size: clamp(2rem, 1.2857rem + 3.5714vw, 3rem);
  color: #000;
  line-height: calc(clamp(2rem, 1.2857rem + 3.5714vw, 3rem) * 134 / 100);
  padding-bottom: 30px;
}
.contacts__item {
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 1.6px;
  font-size: 16px;
  color: #000;
  line-height: 26.56px;
  padding-bottom: 16px;
  text-decoration: none;
  display: block;
}

.rights__container {
  position: absolute;
  bottom: 0;
  padding: 30px 0 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}
.rights__item {
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 1.2px;
  font-size: 12px;
  color: #000;
  line-height: 19.92px;
}

span:hover {
  cursor: pointer;
}

.socials {
  width: 269px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item_style {
  width: 50px;
  height: 50px;
  stroke: #565656;
}

.social_link {
  color: #565656;
}

.social_link:hover {
  color: #fff;
}

.colorfill {
  fill: #fff;
}

.footer__item_style:hover .colorfill {
  fill: #565656;
}