$f-lato: "lato";
$f-red: "red hat display";
$f-size-hero: clamp(1.875rem, 1.5536rem + 1.6071vw, 3rem);
$f-size-blog-item-title: clamp(1.375rem, 1.3604rem + 0.0649vw, 1.4375rem);
$f-size-popular-item-title: clamp(1.375rem, 1.3458rem + 0.1299vw, 1.5rem);
$f-size-aboutus-item-title: clamp(1.5rem, 1.5146rem + -0.0649vw, 1.4375rem);
$f-size-aboutus-item-desc: clamp(1.125rem, 1.1104rem + 0.0649vw, 1.1875rem);
$f-size-footer-title: clamp(2rem, 1.2857rem + 3.5714vw, 3rem);
$f-size-rights: clamp(1rem, 1.0714rem + -0.3571vw, 0.75rem);
@mixin font-param($fam, $f-size, $weight, $symspace, $l-height, $f-color) {
  font-family: $fam;
  font-weight: $weight;
  letter-spacing: calc($f-size / 100 * $symspace);
  font-size: $f-size;
  color: $f-color;
  line-height: calc($f-size * $l-height / 100);
}
//general style
.container {
  max-width: 100vw;
  min-width: 320px;
}
//header style
.header-container {
  align-content: center;
  margin-top: -13px;
  padding: 0 135px;
  max-width: 100%;
  height: 5vw;
  min-height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 20;
}
.logo {
  width: 145px;
  height: 13px;
}
.search-ico {
  width: 17px;
  height: 16px;
}
.nav {
  height: 20px;
  display: flex;
  justify-content: space-between;
  &__link {
    text-decoration: none;
    color: black;
  }
  &__item {
    position: relative;
    @include font-param($f-lato, 14px, 400, 30, 1, #000);
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__container {
    width: 51%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrapper {
    width: 84%;
  }
}
.nav__list .nav__item:first-child .nav__link::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 70%;
  align-items: center;
  background-color: #000;
  left: 50%;
  top: 10px;
  transform: translateX(-60%);
}

.nav__list .nav__item .nav__link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  align-items: center;
  background-color: #000;
  left: 50%;
  top: 10px;
  transform: translateX(-60%);
  transition: width 0.3s ease;
}

.nav__list .nav__item:hover .nav__link::after {
  width: 70%;
}

.burger {
  display: none;
  width: 34px;
  height: 25px;
  position: relative;
  span {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #000;
  }
  &-menu__container {
    display: flex;
    align-items: center;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  &.active span {
    opacity: 0;
  }
  &.active::before {
    top: 45%;
    transform: rotate(-225deg) translate(0, 50%);
  }
  &.active::after {
    bottom: 50%;
    transform: rotate(225deg) translate(0, -50%);
  }
  &:hover {
    cursor: pointer;
  }
}
//hero section style
.hero {
  padding-top: 5vw;
  width: 100%;
  &__container {
    width: 100%;
  }
  &__picture {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__text {
    position: absolute;
    top: calc(5vw + 100px);
    left: 9.2vw;
  }
  &__pargraph {
    @include font-param($f-red, $f-size-hero, 600, 5, 133, #000);
  }
}
//section main style
.main {
  margin: 90px 0;
  padding: 0 135px;
  max-width: 100vw;
}
.main > section:not(:last-child) {
  margin-bottom: 90px;
}

.blog {
  width: 100%;
  &__title {
    @include font-param($f-red, 48px, 400, 5, 133, #000);
  }
  &__item {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 45px;
  }

  &__img {
    width: 940px;
  }
  &__img_item {
    display: inline-block;
    min-width: 200px;
    width: 39vw;
  }
  &__text-container {
    margin-left: 30px;
    width: 450px;
    height: fit-content;
  }
  &__text-container-left {
    margin-right: 30px;
    width: 450px;
    height: 300px;
  }
}
.blog .blog__item:nth-child(odd) {
  width: 100%;
  height: 33vw;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 50px;
}
.arrow-link {
  background-color: #fff;
  border: none;
  font-size: 25px;
}
.arrow-link span {
  padding-right: 20px;
  @include font-param($f-lato, 16px, 400, 10, 166, #7b7b7b);
}
.text {
  &-under-header {
    display: inline-block;
    @include font-param($f-lato, 16px, 400, 10, 166, #7b7b7b);
    padding-bottom: 20px;
  }
  &-date {
    display: inline-block;
    @include font-param($f-lato, 16px, 400, 10, 166, #7b7b7b);
    padding-bottom: 50px;
  }
  &-title {
    display: inline-block;
    @include font-param($f-red, $f-size-blog-item-title, 600, 10, 166, #000);
    padding-bottom: 15px;
  }
  &-desc {
    @include font-param($f-lato, 16px, 400, 5, 166, #565656);
  }
}
//section post style
.post {
  max-width: 100%;
  height: fit-content;
  margin-top: -15px;
  &__header {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }
  &__header_link {
    @include font-param($f-lato, 16px, 400, 10, 166, #7b7b7b);
    text-decoration: none;
    text-transform: capitalize;
  }
  &__header_title {
    @include font-param($f-red, 28px, 600, 10, 166, #000);
  }

  &__cards-container {
    max-width: 100%;
    display: flex;
  }

  &__card_item {
    flex: 1;
  }

  &__card_img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
}
.post__text {
  &-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  &-header_item {
    @include font-param($f-lato, 12px, 400, 10, 166, #7b7b7b);
  }
  &_title {
    @include font-param($f-red, 22px, 600, 10, 166, #000);
    padding-bottom: 20px;
  }
  &_desc {
    @include font-param($f-lato, 16px, 400, 5, 166, #565656);
  }
}
.post__cards-container .post__card_item:not(:last-child) {
  margin-right: 30px;
}
//section popular style
.popular {
  padding-top: 15px;
  height: fit-content;
  &__cards-container {
    display: flex;
  }
}
.popular__cards-container .post__card_item:first-child {
  margin-right: 30px;
}
.popular__text_title {
  margin-top: -8px;
  @include font-param($f-red, $f-size-popular-item-title, 600, 10, 166, #000);
  padding-bottom: 20px;
}
.button {
  @include font-param($f-lato, 16px, 700, 10, 166, #fff);
  width: 180px;
  height: 46px;
  background-color: #565656;

  &-container {
    margin-top: 50px;
    text-align: center;
  }
}
//section aboutus style
.aboutus {
  display: flex;
  justify-content: space-between;
  &__title {
    max-width: 470px;
  }

  &__title_item {
    @include font-param($f-red, $f-size-aboutus-item-title, 400, 10, 166, #000);
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 470px;
  }
  &__desc_item {
    @include font-param($f-lato, $f-size-aboutus-item-desc, 400, 5, 168, #000);
  }
}
.aboutus__desc_item:first-child {
  padding-bottom: 32px;
}
//section footer style
.footer {
  margin-top: -5px;
  background-color: #f4f4f4;
  position: relative;
  padding: 0 135px;
  height: 300px;
  position: relative;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    transform: translateY(50%);
    margin-bottom: 20px;
  }
}
.contacts {
  max-width: 375px;
  height: 160px;
  &__title {
    @include font-param($f-red, $f-size-footer-title, 400, 5, 134, #000);
    padding-bottom: 30px;
  }
  &__item {
    @include font-param($f-lato, 16px, 400, 10, 166, #000);
    padding-bottom: 16px;
    text-decoration: none;
    display: block;
  }
}
.rights {
  &__container {
    position: absolute;
    bottom: 0;
    padding: 30px 0 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  &__item {
    @include font-param($f-lato, 12px, 400, 10, 166, #000);
  }
}
span:hover {
  cursor: pointer;
}
.socials {
  width: 269px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.footer__item_style {
  width: 50px;
  height: 50px;
  stroke: #565656;
}
.social_link {
  color: #565656;
}
.social_link:hover {
  color: #fff;
}
.colorfill {
  fill: #fff;
}

.footer__item_style:hover .colorfill {
  fill: #565656;
}
