@media screen and (max-width: 1150px) {
  .header-container {
    margin-top: 0;
  }
  .nav__container {
    width: 71%;
  }
  .blog__item {
    height: fit-content;
  }
}
@media screen and (max-width: 900px) {
  .main {
    margin: 90px 34px;
    padding: 0;
  }
  .main > section:not(:last-child) {
    margin-bottom: 70px;
  }
  .header-container {
    height: 60px;
    padding: 0 34px;
  }
  .hero__text {
    top: 11vw;
    left: 4vw;
  }
  .blog__text-container {
    margin-left: 20px;
    width: 340px;
    height: 280px;
  }
  .text-under-header {
    padding-bottom: 10px;
  }
  .text-date {
    padding-bottom: 17px;
  }
  .text-title {
    font-family: "red hat display";
    font-weight: 600;
    letter-spacing: calc(clamp(1.375rem, 1.3604rem + 0.0649vw, 1.4375rem) / 100 * 10);
    font-size: clamp(1.375rem, 1.3604rem + 0.0649vw, 1.4375rem);
    color: #000;
    line-height: calc(clamp(1.375rem, 1.3604rem + 0.0649vw, 1.4375rem) * 100 / 100);
    padding-bottom: 5px;
  }
  .aboutus {
    flex-direction: column;
  }
  .aboutus__title {
    margin-bottom: 70px;
  }
  .aboutus__desc {
    align-self: flex-end;
  }
  .aboutus__desc p:first-of-type {
    padding-bottom: 20px;
  }
  .contacts {
    text-align: center;
  }
  .socials {
    margin: 40px auto;
  }
  .footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .post__cards-container .post__card_item:nth-child(odd) {
    display: flex;
    flex-direction: row;
  }
  .post__cards-container .post__card_item:nth-child(odd) .post__card_img {
    margin-right: 20px;
  }
  .post__cards-container .post__card_item:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }
  .post__cards-container .post__card_item:nth-child(even) .post__card_img {
    margin-left: 20px;
  }
  .post__cards-container .post__card_item:not(:last-child) {
    margin-bottom: 30px;
  }
  .post__cards-container {
    display: flex;
    flex-direction: column;
  }
  .header {
    margin: 0 34px;
  }
  .search-ico {
    width: 20px;
    height: 20px;
    margin-right: 40px;
  }
  .burger {
    display: block;
  }
  .nav__list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    padding: 100px;
  }
  .nav__container {
    width: 71%;
  }
  .nav__list.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog__item {
    height: auto;
  }
  .blog__item-second {
    height: auto;
  }
  .footer {
    margin-top: 70px;
    height: 410px;
    padding: 50px 0;
  }
  .footer__container {
    align-items: center;
    top: 50%;
    transform: translateY(0);
  }
}
@media screen and (max-width: 768px) {
  .hero__text {
    position: absolute;
    top: 90px;
  }
  .main {
    margin: 0 34px;
  }
  .blog__title {
    padding-bottom: 0;
  }
  .header-container {
    height: 6vw;
    padding: 1% 5%;
  }
  .burger__item {
    display: flex;
    width: 34px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
  }
  .burger__item span {
    width: 100%;
    height: auto;
    border-top: 1px solid #000;
  }
  .burger-menu__container {
    width: 94px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .socials {
    margin-bottom: 75px;
  }
}
@media screen and (max-width: 550px) {
  .main {
    margin: 0px 9vw 104px;
    max-width: 100vw;
  }
  .blog__item {
    display: flex;
  }
  .blog__text-container {
    width: calc(100vw - 68px);
  }
  .blog__img_item {
    padding-top: 30px;
  }
  .blog .blog__item:nth-child(odd) {
    flex-direction: column;
    height: fit-content;
  }
  .blog .blog__item:nth-child(even) {
    flex-direction: column-reverse;
  }
  .post__cards-container .post__card_item:nth-child(even) {
    flex-direction: column;
  }
  .post__cards-container .post__card_item:nth-child(odd) {
    flex-direction: column;
  }
  .post__cards-container .post__card_item:nth-child(even) .post__card_img {
    margin-left: 0;
  }
  .popular__cards-container {
    display: flex;
    flex-direction: column;
  }
  .popular__cards-container .post__card_item:not(:first-child) {
    margin-top: 50px;
  }
  .post__header_title {
    font-size: 27px;
  }
  .post__header {
    flex-direction: column;
    align-items: flex-start;
  }
  .blog__title {
    padding-bottom: 35px;
  }
  .socials {
    margin-bottom: 75px;
  }
  .rights__container {
    padding-right: 10px;
    padding-left: 10px;
  }
}