.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 90px 0;
  padding-top: 30px;
}
@media only screen and (max-width: 1350px) {
  .benefits {
    grid-template-columns: 1fr;
    align-self: center;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .benefits {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 599px) {
  .benefits {
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
  }
}
.benefits__item {
  position: relative;
  width: 570px;
  height: 250px;
  padding: 20px 35px 0;
}
@media only screen and (max-width: 1350px) {
  .benefits__item {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .benefits__item {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 599px) {
  .benefits__item {
    width: 100%;
    height: 200px;
    margin: 70px 0;
  }
}
.benefits__item_title {
  font-family: "PlayfairDisplay";
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}
.benefits__item .description {
  padding-top: 30px;
}

.benefits__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--divider-color);
  top: -27px;
  left: 0;
}