.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 90px 30px;
  padding-top: 30px;
  &__item {
    position: relative;
    width: 570px;
    height: 250px;
    padding: 20px 35px 0;
  }

  &__item_title {
    font-family: "PlayfairDisplay";
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
  }
  &__item .description {
    padding-top: 30px;
  }
}
.benefits__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--divider-color);
  top: -27px;
  left: 0;
}
