@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 599px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 600px) and (max-width: 899px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 900px) {
      @content;
    }
  } @else if $breakpoint == middlepc {
    @media only screen and (max-width: 1350px) {
      @content;
    }
  }
}
.benefits {
  @include respond-to(middlepc) {
    grid-template-columns: 1fr;
    align-self: center;
  }
  @include respond-to(tablet) {
    grid-template-columns: 1fr;
  }
  @include respond-to(phone) {
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 90px 0;
  padding-top: 30px;
  &__item {
    @include respond-to(middlepc) {
      width: 100%;
    }
    @include respond-to(tablet) {
      width: 100%;
      height: 100%;
    }
    @include respond-to(phone) {
      width: 100%;
      height: 200px;
      margin: 70px 0;
    }
    position: relative;
    width: 570px;
    height: 250px;
    padding: 20px 35px 0;
  }

  &__item_title {
    font-family: "PlayfairDisplay";
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
  }
  &__item .description {
    padding-top: 30px;
  }
}
.benefits__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--divider-color);
  top: -27px;
  left: 0;
}
