@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "fontAwesome";
  src: url(../../fonts/font-awesome/fa-regular-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sourceSansPro";
  src: url(../../fonts/source-sans-pro/sourcesanspro.woff2) format("woff2");
  font-weight: 400;
}
.whatwedo {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.whatwedo__trade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
}
.whatwedo__trade_left {
  width: 845px;
  height: 527px;
  position: relative;
}
.whatwedo__trade_right {
  width: 470px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 151px;
  left: 70px;
}
.whatwedo__trade-desc {
  font-family: "open sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.whatwedo__commerce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1325px;
  height: 527px;
  position: relative;
  margin-top: 120px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.whatwedo__commerce_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 476px;
  height: 350px;
  position: relative;
  left: 120px;
  top: 151px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.whatwedo__commerce_right {
  width: 845px;
  height: 527px;
}
.whatwedo__commerce_right-purple-back {
  width: 585px;
  height: 470px;
  background-color: #7e5aff;
}
.whatwedo__commerce_right-img {
  position: absolute;
  top: 40px;
  left: 320px;
}
.whatwedo__header_item {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2c4058;
}
.whatwedo__header {
  margin: 0 auto;
  width: 324px;
  height: 84px;
}
.whatwedo__main-header::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 110px;
  width: 100px;
  height: 1px;
  background-color: #2c4058;
}
.whatwedo__main-header {
  position: relative;
}
.whatwedo__trade_left-blue-back {
  width: 585px;
  height: 470px;
  background-color: #55b7ff;
}
.whatwedo__trade_left-img {
  position: absolute;
  top: 40px;
  left: 220px;
}

.over-head-text {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.button {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 190px;
  height: 50px;
}