@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "fontAwesome";
  src: url(../../fonts/font-awesome/fa-regular-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sourceSansPro";
  src: url(../../fonts/source-sans-pro/sourcesanspro.woff2) format("woff2");
  font-weight: 400;
}
@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 602px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 603px) and (max-width: 912px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 913px) {
      @content;
    }
  } @else if $breakpoint == deskrina {
    @media only screen and (min-width: 914px) and (max-width: 1360px) {
      @content;
    }
  }
}
.whatwedo {
  margin-top: 13vw;
  display: flex;
  flex-direction: column;
  &__trade {
    display: flex;
    margin-top: 5vw;
    @include respond-to(tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include respond-to(phone) {
      flex-direction: column;
    }
    &_left {
      width: 52vw;
      height: 527px;
      position: relative;
    }
    &_right {
      width: 470px;
      height: 350px;
      position: relative;
      top: 161px;
      left: 116px;
      @include respond-to(deskrina) {
        width: 320px;
        left: 56px;
      }
      &-desc {
        font-family: "open sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 25px;
        margin-bottom: 30px;
      }
    }
  }
  &__commerce {
    display: flex;
    width: 100%;
    height: 527px;
    position: relative;
    margin-top: 120px;
    padding-left: 215px;
    justify-content: space-between;
    @include respond-to(tablet) {
      flex-direction: column;
      align-items: center;
    }
    @include respond-to(phone) {
      flex-direction: column;
      align-items: center;
    }
    &_over-head-text {
      font-family: "Montserrat";
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: 12px;
    }
    &_left {
      padding-top: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 486px;
      height: 350px;
      &-desc {
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-bottom: 34px;
      }
    }
    &_right {
      width: 52vw;
      height: 527px;
      display: flex;
      justify-content: right;
      &-purple-back {
        width: 585px;
        height: 470px;
        background-color: #7e5aff;
        @include respond-to(tablet) {
          display: none;
        }
        @include respond-to(phone) {
          display: none;
        }
      }
      &-img {
        position: absolute;
        top: 55px;
        right: 135px;
        @include respond-to(tablet) {
          position: static;
        }
      }
    }
  }
  &__header_item {
    font-family: "Montserrat";
    font-size: clamp(1.375rem, 0.75rem + 2vw, 2.75rem);
    font-weight: 700;
    text-transform: uppercase;
    color: #2c4058;
  }
  &__header {
    margin: 0 auto;
    width: 324px;
    height: 84px;
  }
  &__main-header::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 110px;
    width: 100px;
    height: 1px;
    background-color: #2c4058;
  }
  &__main-header {
    position: relative;
    left: 42px;
  }
  &__trade_left-blue-back {
    width: 585px;
    height: 470px;
    background-color: #55b7ff;
    @include respond-to(deskrina) {
      width: 485px;
    }
    @include respond-to(tablet) {
      display: none;
    }
    @include respond-to(phone) {
      display: none;
    }
  }
  &__trade_left-img {
    position: absolute;
    top: 58px;
    left: 14vw;
    @include respond-to(deskrina) {
      left: -120px;
    }
    @include respond-to(tablet) {
      position: static;
      margin: 0 auto;
    }
  }
}
.over-head-text {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.button {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  &__commerce {
    padding: 15px 20px 20px;
  }
}
.map-address {
  margin-top: 45px;
}
