@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url(../variables/vars.css);
@font-face {
  font-family: "fontAwesome";
  src: url(../../fonts/font-awesome/fa-regular-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sourceSansPro";
  src: url(../../fonts/source-sans-pro/sourcesanspro.woff2) format("woff2");
  font-weight: 400;
}
@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 602px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 603px) and (max-width: 912px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 913px) {
      @content;
    }
  } @else if $breakpoint == deskrina {
    @media only screen and (min-width: 914px) and (max-width: 1360px) {
      @content;
    }
  }
}

.whatwedo {  
  width:100%;  
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;          
  &> *:first-child{
    margin-bottom:6.67%;
  }
  &> *:nth-child(2){
    margin-bottom:10%;
  }
        &__header_item  {
    color:var(--primary-text-color);
  font-family: "montserrat";
  font-size: clamp(1.25rem, 0.0934rem + 3.0691vw, 2.75rem);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom:19px;
  @include respond-to(tablet) {
    margin: 0 auto;
    margin-bottom:1.5rem;
  }
  @include respond-to(phone) {
    margin: 0 auto;
    margin-bottom:1.5rem;
  }
}
  &__trade{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width:86.5625%;
    height:527px;
    @include respond-to(tablet) {
      flex-direction: column;
      align-items: center;
      height:auto;      
      width:100%;
     }
     @include respond-to(phone) {
      flex-direction: column;
      align-items: center;
      height:auto;      
      width:100%;
     }
     &_right{
      width: 33.9350%;
      height:auto;     
      margin-bottom: 26px;
      @include respond-to(tablet) {
        width:70%;
       }  
       @include respond-to(phone) {
        width:70%;
       }  
      &-desc{
        font-family: "open sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color:var(--primary-text-color);
        margin-bottom: 40px;
      }    
     }     
    &_left{
      position: relative;
      width: 52.8125%;
      height:100%;
      @include respond-to(tablet) {
        width:100%;
        height:auto;
       }
       @include respond-to(phone) {
        width:90%;
        height:auto;
       }
      &-blue-back{
        background: #55b7ff;
        width:69.2307%;
        height:89.1840%; 

      }
      &-img{
        position: absolute;
        right: 0;
        bottom:0;
        width:74.5562%;
        height:auto;    
        @include respond-to(tablet) {
         margin:0 auto 5vw;
          position: static;
          height:35vh;  
         } 
        @include respond-to(phone) {
          margin:0 auto 5vw;
          position: static;
          height:auto;
          width:100%;  
         } 
      }
    }
    &_picture{
      width:100%;
      height:100%;
    }
  }
  &__commerce{
    width:86.5625%;
    height:527px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &_left{
      width: 33.9350%;
      height:350px;     
      margin-bottom: 26px;
      @include respond-to(tablet) {
        width:100%;
       }
      &-desc{
        font-family: "open sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color:var(--primary-text-color);
        margin-bottom: 40px;
      } 
    }
    &_right{
      position:relative;
      width: 61%;
      height:100%;
      &-purple-back {
        position:absolute;
        top:0;
        right:0;
        background-color: #7e5aff;
        width:69.2307%;
        height:89.1840%; 
        @include respond-to(tablet) {
          display:none;
         }
        @include respond-to(phone) {
         display:none;
        }
      }
      &-img{
        position: absolute;
        left: 0;
        bottom:0;
        width:74.5562%;
        height:89.1840%;     
        @include respond-to(phone) {
          width:100%;
          height:100%;  
         } 
      }
    }   
  }
  &__main-header{
font-family: "Montserrat";
font-weight: 700;
font-size: 2.75rem;
line-height: 122%;
text-align: center;
@include respond-to(phone) {
  font-size: clamp(1.5625rem, 0.8533rem + 3.5461vw, 2.1875rem);
 } 
  }
  &__header{
    position: relative;
  height:84px;
  align-content: end;  
  }
  &__header::before{
    content:"";
    position:absolute;
    top:0;
    left:50%;
    width:100px;
    height:1px;
    background-color: #000;
    transform: translateX(-50%);
  }
        }

.over-head-text{
  color:var(--primary-text-color);
  font-family: "montserrat";
  font-size: clamp(1rem, 0.7108rem + 0.7673vw, 1.375rem);
  text-transform: uppercase;
}
.button{
  width:190px;
  height:50px;
  border: 1px solid black;
  background-color: #fff;
  color:#000;
  font-family: "montserrat";
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom:60px;
}
address{
  font-family: "open sans";
  font-size: 15px;
  font-style: italic;
}
.map-address{
  display: flex;
}