body {
  background-color: lightgreen;
}

.container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 600px;
  background-color: gray;
}

.redCircle,
.yellowCircle,
.greenCircle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0.2;
}
.redCircle.lightOn,
.yellowCircle.lightOn,
.greenCircle.lightOn {
  opacity: 1;
}

.redCircle {
  background-color: red;
}

.yellowCircle {
  background-color: yellow;
}

.greenCircle {
  background-color: green;
}

.button {
  position: fixed;
  left: 50px;
  top: 50%;
  width: 200px;
  height: 100px;
  font-size: 40px;
}