@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
body {
  background-color: rgb(70, 91, 96);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  border: 1px solid #f1f1f1;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  font-family: "platupi";
  font-weight: 700;
  font-size: 40px;
  width: 100%;
  height: 100%;
  padding: 3% 10%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .cards-container:nth-child(2) .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front-side-img {
  width: 100%;
  height: 100%;
}

.card-suit {
  width: 20px;
  height: 20px;
}
.card-suit-bottom {
  width: 20px;
  height: 20px;
  rotate: 180deg;
}

.middle-suit {
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      align-self: center;
}

.flip-card-back .quality-card:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flip-card-back .quality-card:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.quality-bottom {
  rotate: 180deg;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  grid-template-areas: "first second third fourth";
  margin-bottom: 30px;
}

.cards-container:nth-child(1) {
  grid-area: first;
}

.cards-container:nth-child(2) {
  grid-area: second;
}

.cards-container:nth-child(3) {
  grid-area: third;
}

.cards-container:nth-child(4) {
  grid-area: fourth;
}

.red-color .flip-card-back {
  color: red;
}