@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 599px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 600px) and (max-width: 899px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 900px) {
      @content;
    }
  } @else if $breakpoint == retina {
    @media only screen and (min-width: 1500px) {
      @content;
    }
  }
}
.video {
  @include respond-to(tablet) {
    margin: 0 20px;
    height: 520px;
  }
  @include respond-to(phone) {
    margin: 0 20px;
    height: 500px;
    width: 70vw;
  }
  width: 67vw;
  height: 54vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 100px;

  &__text-container_title {
    padding-bottom: 20px;
    font-family: "PlayfairDisplay";
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
  }
  &__wrapper {
    @include respond-to(retina) {
      width: 1100px;
    }
    position: relative;
    width: 100%;
    height: 601px;
    border: 1px solid var(--divider-color);
    border-radius: 4%;
  }
  &__container {
    @include respond-to(retina) {
      bottom: -70px;
      height: 750px;
      width: 1000px;
    }
    position: absolute;
    // top: 31px;
    left: 30px;
    width: 60vw;
    height: 37vw;
  }
  &__wrapper::before {
    left: 10px;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
  }
  &__wrapper::after {
    @include respond-to(tablet) {
      width: 15px;
      height: 15px;
    }
    @include respond-to(phone) {
      width: 15px;
      height: 15px;
    }
    right: 10px;
    width: 35px;
    height: 35px;
    transform: translateY(-50%);
  }
  &__item {
    position: relative;
    width: 60vw;
    height: 37vw;
  }
}
.video__wrapper::after,
.video__wrapper::before {
  position: absolute;
  content: "";
  top: 50%;
  border: 1px solid var(--divider-color);
  border-radius: 50%;
}
video {
  width: 100%;
  height: 100%;
}
.video__container:hover {
  cursor: pointer;
}
video::-webkit-media-controls {
  opacity: 0;
}
