.video {
  width: 970px;
  height: 777px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__text-container_title {
    padding-bottom: 20px;
    font-family: "PlayfairDisplay";
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
  }
  &__wrapper {
    position: relative;
    width: 100%;
    height: 601px;
    border: 1px solid var(--divider-color);
    border-radius: 4%;
  }
  &__container {
    position: absolute;
    top: 31px;
    left: 30px;
    width: 870px;
    height: 539px;
  }
  &__wrapper::before {
    left: 10px;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
  }
  &__wrapper::after {
    right: 10px;
    width: 35px;
    height: 35px;
    transform: translateY(-50%);
  }
  &__item {
    width: 100%;
    height: 100%;
  }
}
.video__wrapper::after,
.video__wrapper::before {
  position: absolute;
  content: "";
  top: 50%;
  border: 1px solid var(--divider-color);
  border-radius: 50%;
}
////////////////

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: url("../../image/ico/play.png") no-repeat center center;
  background-size: contain;
  z-index: 10;
  cursor: pointer;
}

#video-checkbox {
  display: none;
}
#video-checkbox:checked + .play-button {
  display: none;
}
video::-webkit-media-controls {
  opacity: 0;
}
