.video {
  width: 67vw;
  height: 54vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 100px;
}
.video__text-container_title {
  padding-bottom: 20px;
  font-family: "PlayfairDisplay";
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}
.video__wrapper {
  position: relative;
  width: 100%;
  height: 601px;
  border: 1px solid var(--divider-color);
  border-radius: 4%;
}
.video__container {
  position: absolute;
  top: 31px;
  left: 30px;
  width: 60vw;
  height: 37vw;
}
.video__wrapper::before {
  left: 10px;
  width: 10px;
  height: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.video__wrapper::after {
  right: 10px;
  width: 35px;
  height: 35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.video__item {
  position: relative;
  width: 60vw;
  height: 37vw;
}

.video__wrapper::after,
.video__wrapper::before {
  position: absolute;
  content: "";
  top: 50%;
  border: 1px solid var(--divider-color);
  border-radius: 50%;
}

video {
  width: 100%;
  height: 100%;
}

.video__container:hover {
  cursor: pointer;
}

video::-webkit-media-controls {
  opacity: 0;
}