@import url(../variables/variables.css);
@import url(../../fonts/fonts.css);
.arrivals__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0 50px;
  font-size: 32px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  padding: 0 10px;
  padding-bottom: 10px;
  font-weight: 700;
}
.arrivals__container {
  position: relative;
  padding: 0 50px;
}
.arrivals-slider__label {
  position: absolute;
  width: 60px;
  height: 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  line-height: 12.19px;
  text-align: center;
  line-height: 20px;
  background-color: var(--tomato-light);
  color: var(--brown-light);
}
.arrivals-slider__label[data-stock=sold] {
  color: var(--black);
  background-color: var(--brown-light);
}
.arrivals-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--brown-light);
  margin: 0 10px;
  height: inherit !important;
}
.arrivals-slider__item-hovered {
  border-color: red;
}
.arrivals-slider__item img {
  position: relative;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.arrivals-slider__title {
  font-family: "montserrat";
  font-weight: 600;
  padding-top: 30px;
  font-size: 18px;
  color: black;
  text-align: center;
}
.arrivals-slider__prev {
  position: absolute;
  left: 0;
  top: 40%;
  height: 74px;
  width: 40px;
  background: url(../../pictures/icons/prev.svg);
  background-size: contain;
}
.arrivals-slider__prev-hovered {
  background: url(../../pictures/icons/next-active.svg);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .arrivals-slider__prev {
    height: 30px;
    width: 16px;
  }
}
@media only screen and (max-width: 602px) {
  .arrivals-slider__prev {
    display: none;
  }
}
.arrivals-slider__next {
  position: absolute;
  right: 0;
  top: 40%;
  height: 74px;
  width: 40px;
  background: url(../../pictures/icons/next.svg);
  background-size: contain;
}
.arrivals-slider__next-hovered {
  background: url(../../pictures/icons/next-active.svg);
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .arrivals-slider__next {
    height: 30px;
    width: 16px;
  }
}
@media only screen and (max-width: 602px) {
  .arrivals-slider__next {
    display: none;
  }
}
.arrivals-slider__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: center;
  padding: 0 10px;
  padding-bottom: 20px;
}
.arrivals__img {
  display: block;
  width: 204px;
  height: 300px;
  padding: 20px 10px 10px;
}

.view-more {
  position: relative;
  left: 50vw;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 227px;
  height: 50px;
  font-family: "montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid black;
  margin-top: 50px;
}

.arrivals-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 50px;
  left: 50%;
}
@media only screen and (max-width: 602px) {
  .arrivals-dots {
    gap: 20px;
    bottom: -40px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.arrivals-dots li {
  position: relative;
}

.arrivals-dots li button {
  color: transparent;
  background: transparent;
  border-color: transparent;
}

.arrivals-dots li button:before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  background: var(--black);
}

.arrivals-dots li.slick-active button:before {
  background: var(--tomato-light);
}