/*Font roboto regular and medium*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.form-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #e5e5e5;
}
.form-blok {
  width: 1170px;
  height: 590px;
  background-color: #e5e5e5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.form-item {
  width: 570px;
  height: 590px;
  background-color: #fff;
}

.form-blok .form-item:first-child {
  margin-right: 30px;
}
.form-inner {
  padding: 35px 34px 16px 36px;
}
.form-inner > * {
  margin-bottom: 20px;
}
.form-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.field-caption {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #545454;
}
.field-caption_label-padding {
  padding-bottom: 7px;
}

.form__name,
.form__lastname,
.form__email {
  display: inline-flex;
  flex-direction: column;
}

.form__email {
  width: 100%;
}

.form__address_item {
  width: 245px;
}

.form__address .form__address_item:last-child {
  margin-left: 10px;
}

.form__address {
  display: inline-flex;
}
.form_sub-text {
  padding-top: 7px;
  color: #969696;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 18px;
  font-size: 13px;
}
.form__gender {
  display: flex;
}
.form__address_item {
  display: flex;
  flex-direction: column;
  height: 67px;
}
.blue-button {
  color: #fff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  width: 100%;
  height: 38px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  margin-top: -4px;
}
.form__name,
.form__lastname {
  width: 245px;
  height: 67px;
}
.form__lastname {
  padding-left: 9px;
}
.form__text-field_size {
  height: 40px;
}
.form__gender .form__gender_item:first-child {
  margin-right: 27px;
}

.form__rights {
  font-family: "Roboto";
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 2px;
}
.form__rights_link {
  font-family: "Inter";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.form__rights_link {
  text-decoration: none;
  color: #007bff;
}
.form__link-login {
  display: flex;
  width: 185px;
  height: 22px;
}
.form__link-login_margin {
  margin: 0 auto;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
}
.divider_margin {
  margin-top: 16px;
}
.login {
  border: none;
  background-color: #fff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  color: #007bff;
  letter-spacing: -0.1px;
}
.login_margin {
  margin-left: 15px;
}
/*Blok profile*/
.form__inner-profile_margin {
  margin: 35px 35px 104px;
}
.user-photo {
  display: flex;
  position: relative;
}
.user__blok {
  display: flex;
}
.user__item {
  display: flex;
  flex-direction: column;
  width: 245px;
  height: 67px;
}
.user__blok .user__item:first-child {
  margin-right: 10px;
}
.form__inner-profile > *:not(:last-child) {
  margin-bottom: 20px;
}
.blue-button_small {
  width: 150px;
  margin-top: 0;
}
input:hover,
input:focus {
  border-color: #007bff;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}
input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  border: 1px solid black;
  border-radius: 50%;
}
input[type="radio"] + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #007bff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
input[type="radio"]:checked + label::after {
  opacity: 1;
}
.select {
  background-image: url(../style/images/Arrows.svg);
  background-repeat: no-repeat;
  width: 100%;
  background-position: calc(100% - 10px) 55%;
  cursor: pointer;
  appearance: none;
  padding-left: 10px;
}
.select:hover,
.select:focus {
  border-color: #007bff;
}
.user-photo__open-blok {
  width: 178px;
  position: relative;
  margin-left: 25px;
}
.user-photo__subtext {
  position: absolute;
  top: 43px;
  left: -2px;
}
.file-load-icon {
  position: relative;
  top: 15px;
  left: 110px;
}
.user-photo__open-button {
  display: none;
}
input[type="file"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
input[type="file"] + label::before {
  content: "";
  position: absolute;
  width: 138px;
  height: 30px;
  left: -3px;
  top: 8px;
  border: 1px solid black;
  border-radius: 5px;
}
input[type="file"]:hover + label::before {
  border-color: #007bff;
}

.user-photo__reset-button {
  width: 30px;
  height: 30px;
  background-image: url(../style/images/Trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: 1px solid #969696;
  border-radius: 5px;
  position: absolute;
  top: 9px;
  right: 220px;
}
