/*connect fonts "PT Sans Regular", "PT Sans Bold", "PT Sans italic"*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*connect downloaded font "Staatliches"*/
@font-face {
  font-family: "Staatliches-Regular";
  src: url(font/Staatliches/Staatliches-Regular.woff2) format("woff2");
}

.header {
  width: 1200px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  left: 0;
  top: 0;
  right: 0;
  padding-top: 10px;
}
.header-margin {
  margin: 0 auto 85px;
}
.lang-switcher__item {
  font-family: "Tourney";
  text-transform: uppercase;
  line-height: 18px;
  font-size: 22px;
}
.navigation {
  display: flex;
}
.navigation_margin {
  margin: 1px 0 0 3px;
}
.header-navigation__list {
  display: flex;
}
.header-navigation__list_margin {
  margin-left: 51px;
}
.header-navigation__list_item {
  font-family: "Staatliches-Regular";
  font-size: 1.5rem;
}
.header-navigation__list .header-navigation__list_item:not(:first-child) {
  margin-left: 10px;
}
.main-container {
  width: 1200px;
}
.main-container article:not(:first-child) {
  margin-top: 58px;
}
.main-container_margin {
  margin: 70px auto 0;
}
.title__item_margin {
  margin-right: 10px;
}
.title {
  display: flex;
  position: relative;
}
.title__item {
  font-family: "Francois one";
  font-size: 36px;
  letter-spacing: 1.44px;
  line-height: 48px;
  text-transform: uppercase;
  padding-top: 30px;
}
h2.title__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 8px;
  background-color: #000;
}
.title__idx {
  font-family: "Farro";
  font-size: 19px;
  padding-top: 25px;
}
.article__desc-item {
  font-family: "PT sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 1.715;
}
.article__desc_margin {
  margin-top: 40px;
}
.article-wrapper .article_margin:not(:first-child) {
  margin-top: 65px;
}
.link {
  color: #000;
}
.text_font_pt-sans-italic {
  font-family: "PT sans";
  font-style: italic;
}
.text_font_pt-sans-bold {
  font-family: "PT sans";
  font-weight: bold;
}
.chapter3__second-paragraf_margin {
  margin: 28px 0 31px;
}
.chapter3__fourth-paragraf_margin {
  margin: 30px 0 40px;
}
.chapter3__sixth-paragraf_margin {
  margin: 57px 0 28px;
}

.chapter4__second-paragraf_margin {
  margin-top: 37px;
}
.text_background-color_grey {
  background-color: lightgray;
}
.article-container {
  display: flex;
}
.article-nav {
  width: 34%;
  padding: 10px;
}
.article-wrapper {
  width: 66%;
}
.article-wrapper_margin {
  margin-left: 15px;
  margin-top: 78px;
}
.aside-nav__list_link {
  text-decoration: none;
  color: #000;
}
.aside-nav__list_item {
  border-bottom: 2px solid #bdbdbd;
  padding-bottom: 8px;
}
.aside-nav__list {
  padding-right: 5px;
}
.aside-nav__list .aside-nav__list_item:not(:last-child) {
  margin-bottom: 41px;
}
.aside-nav {
  position: sticky;
  top: 125px;
  padding-left: 4px;
}
.main {
  background-image: url(img/bg-picture.png);
  background-repeat: no-repeat;
  background-position: top 145px right 36px;
  background-attachment: fixed;
}
.header-navigation__list-link {
  text-decoration: none;
  color: #000;
}
