body {
  background-color: rgb(10, 16, 24);
}
#register_form {
  width: 450px;
  margin: 50px 50px;
  padding-top: 20px;
  background-color: #6fc8c0;
}

#register_form > div {
  padding-bottom: 20px;
}
.main_input_lf {
  display: flex;
}
.labels > label {
  display: block;
  padding: 12px 0 0 20px;
}
.labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#age {
  width: 50px;
}
.form_item {
  padding: 10px 0 0 50px;
}
.form_item_textarea {
  padding: 10px 0 0 50px;
}
#agreement_blok {
  padding-left: 10px;
}
#fullAdress_label {
  padding-top: 75px;
}
.form_item_buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
#reset_button {
  border-radius: 10px;
  height: 25px;
}
button {
  margin-left: 30px;
  border-radius: 10px;
  height: 25px;
}
