@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "fontAwesome";
  src: url(../../fonts/font-awesome/fa-regular-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sourceSansPro";
  src: url(../../fonts/source-sans-pro/sourcesanspro.woff2) format("woff2");
  font-weight: 400;
}
@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 602px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 603px) and (max-width: 912px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 913px) {
      @content;
    }
  } @else if $breakpoint == deskrina {
    @media only screen and (min-width: 914px) and (max-width: 1360px) {
      @content;
    }
  }
}
.news {
  position: relative;
  width: 100vw;
  height: 978px;
  margin-top: 9.375vw;
  padding-top: 7.5vw;
  background-image: url(../../img/retina/Background-news.webp);
  background-size: cover;
  &__header {
    position: relative;
    left: 38px;
    font-family: "Montserrat";
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    padding-top: 38px;
    width: 327px;
    height: 84px;
    @include respond-to(phone) {
      position: static;
      margin:0 auto;
      width: fit-content;
      font-size: clamp(1.75rem, 1.2095rem + 2.7027vw, 2.75rem);
      }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 1px;
      background-color: #fff;  
      @include respond-to(phone) {
        top: 50px;
      }
  }
}
  &__slider {
    position: relative;
    height: auto;
    width: 73.125vw;
    margin: 5.625vw auto;
    &_item {
      width: 370px;
      height: 100%;
      background-color: #fff;
      margin: 0 20px;
      &-content {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 294px;
        @include respond-to(tablet) {
          height: 320px;
        }
        @include respond-to(phone) {
          height: auto;
        }
      }
    }
  }
  &-dots {
    display: flex;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    gap: 42px;
    bottom: -65px;
    @include respond-to(phone) {
      bottom: -65px;
    }
    & li {
      position: relative;
      &.slick-active button:before {
        background: #fff;
      }
      & button {
        color: transparent;
        background: transparent;
        border-color: transparent;
        &:before {
          position: absolute;
          width: 10px;
          height: 10px;
          content: "";
          border-radius: 50%;
          border: solid 1px #fff;
          background: transparent;
          @include respond-to(phone) {
            width: 5px;
            height: 5px;
          }
        }
      }
    }
  }
}

.slider__item {
  &_img {
    width: 100%;
  }
  &_author-info {
    display: flex;
    gap: 20px;
  }
  &_author-photo {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
  }
  &_header {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: #2c4058;
    @include respond-to(phone) {
      font-size: clamp(1rem, 0.5745rem + 2.1277vw, 1.375rem);      
    text-align: center;
    }
  }
  &_desc {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 39px;
    color: #2c4058;
  }
  &_author-name {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    color: #2c4058;
  }
}
time {
  padding-top: 6px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  color: #55b7ff;
}
.next-button {
  &__item {
    transform: rotate(-90deg);
    position: absolute;
    top: 52%;
    right: 6.25vw;
    width: 48px;
    height: 48px;
    &:hover {
      cursor: pointer;
    }
    @include respond-to(tablet) {
      z-index: -1;
    }
    @include respond-to(phone) {
      z-index: -1;
    }
  }
}
.prev-button__item {
    transform: rotate(90deg);
    position: absolute;
    top: 52%;
    left: 6.25vw;
    width: 48px;
    height: 48px;
    &:hover {
      cursor: pointer;
    }
    @include respond-to(tablet) {
      z-index: -1;
    }
    @include respond-to(phone) {
      z-index: -1;
    }
}
