@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.body {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  height: 80px;
}
.logo {
  width: 170px;
  height: 60px;
}
.logo__header-margin {
  margin: 10px 206px 10px 135px;
}
.nav {
  width: 417px;
  height: 24px;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__link {
  text-decoration: none;
}
.nav__link:hover {
  color: rgba(24, 181, 220, 1);
}
.nav__link_font {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.nav__link_color {
  color: #3c3c3c;
}

.nav__list_header-size {
  width: 417px;
  height: 254px;
}
.nav__list_header-margin {
  margin: 28px 0;
}

.nav__item {
  height: 24px;
}
.button {
  width: 130px;
  height: 42px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.button:hover {
  background-color: #18b5dc;
  border: none;
  color: #fff;
}
.button__header-margin {
  margin: 19px 136px 19px 246px;
}

.content {
  width: 100%;
  height: 833px;
  background-color: #f6f6f6;
  padding: 150px 135px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1170px;
  height: 533px;
}
.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 570px;
  height: 140px;
}
.title__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 368px;
  height: 58px;
}
.title__header-text {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 13%;
}
.divider {
  color: #f6f6f6;
  width: 45px;
  height: 4px;
  background-color: #dddbdb;
}
.divider__margin-top {
  margin-top: 20px;
}
.title__sub-title {
  width: 570;
  height: 42px;
}
.title__sub-title_margin-top {
  margin-top: 40px;
}
.title__sub-title-text {
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 700;
}
.cards {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 333px;
  background-color: #f6f6f6;
}
.cards__picture-item:hover {
  background-color: #18b5dc;
  cursor: pointer;
  .cards__photo {
    display: none;
  }
  .cards__social-container {
    display: flex;
  }
}
.cards__margin {
  margin-top: 60px;
}
.cards__photo {
  width: 270px;
  height: 270px;
}
.cards__picture-container {
  width: 270px;
  height: 270px;
}
.cards__picture-item {
  width: 100%;
  height: 270px;
}
.cards__name {
  width: 170px;
  height: 43px;
}
.cards__person-name {
  font-weight: 700;
  font-size: 19px;
  height: 21px;
}
.cards__name_margin {
  margin-top: 21px;
}
.cards__person-position {
  font-size: 19px;
  font-weight: 400;
  height: 22px;
}
.cards__social-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 270px;
}
.cards__social-container_background {
  background-color: #18b5dc;
}
.cards__social-item {
  text-decoration: none;
  transition: filter 0.3s;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 260px;
}
.footer__padding {
  padding: 40px 0;
}
.footer__social-networks {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 42px;
}
.footer__social-network_item {
  text-decoration: none;
}
.facebook-ico {
  max-width: 100%;
  background-size: 100%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqAQMAAAD/DVsYAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgFhAEAASYAARfcVj8AAAAASUVORK5CYII=");
  background-position: 0 0%;
  background-size: 100%;
}
/*
.facebook-blue,
.facebook,
.instagram-blue,
.instagram,
.linkedin-blue,
.linkedin,
.telegram-blue,
.telegram,
.twitter-blue,
.twitter {
  max-width: 100%;
  background-size: 100%;
  background-image: url("png.png");
}

.facebook-blue {
  background-position: 0 0%;
  background-size: 100%;
}
.facebook {
  background-position: 0 11.111111%;
  background-size: 100%;
}
.instagram-blue {
  background-position: 0 22.222222%;
  background-size: 100%;
}
.instagram {
  background-position: 0 33.333333%;
  background-size: 100%;
}
.linkedin-blue {
  background-position: 0 44.444444%;
  background-size: 100%;
}
.linkedin {
  background-position: 0 55.555556%;
  background-size: 100%;
}
.telegram-blue {
  background-position: 0 66.666667%;
  background-size: 100%;
}
.telegram {
  background-position: 0 77.777778%;
  background-size: 100%;
}
.twitter-blue {
  background-position: 0 88.888889%;
  background-size: 100%;
}
.twitter {
  background-position: 0 100%;
  background-size: 100%;
}
*/
