@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 599px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 600px) and (max-width: 899px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 900px) {
      @content;
    }
  } @else if $breakpoint == retina {
    @media only screen and (min-width: 1500px) {
      @content;
    }
  }
}
.quote-area {
  @include respond-to(phone) {
    margin: 400px 0 0;
    height: 600px;
    padding-left: 0;
  }
  width: 100%;
  height: 400px;
  background-image: url(../../image/pc/main-content/quote-background-min.webp);
  background-repeat: no-repeat;
  padding: 70px 0 100px 100px;
  &__text {
    @include respond-to(tablet) {
      line-height: 32px;
    }
    @include respond-to(phone) {
      line-height: 32px;
    }
    @include respond-to(retina) {
      width: 50%;
    }
    font-family: "lato";
    font-size: clamp(1.5rem, 1.3077rem + 0.7692vw, 2rem);
    line-height: 46px;
    letter-spacing: calc(clamp(1.5rem, 1.3077rem + 0.7692vw, 2rem) / 100 * 4);
    font-weight: 600;
    word-spacing: 2px;
    width: 100%;
  }
  &__item {
    @include respond-to(phone) {
      padding-left: 20px;
      padding-top: 0;
    }
    width: 100%;
    height: 230px;
    padding: 30px 0 0 60px;
    position: relative;
  }
  &__author {
    font-family: "PlayfairDisplay";
    font-size: 20px;
    padding-top: 40px;
    font-style: italic;
    letter-spacing: calc(20px / 100 * 6);
  }
}
.quote-ico {
  position: absolute;
  top: 0;
  left: 0;
}
