.quote-area {
  width: 100%;
  height: 400px;
  background-image: url(../../image/pc/main-content/quote-background-min.avif);
  background-repeat: no-repeat;
  padding: 70px 0 100px 100px;
}
@media only screen and (max-width: 599px) {
  .quote-area {
    margin: 400px 0 0;
    height: 600px;
    padding-left: 0;
  }
}
.quote-area__text {
  font-family: "lato";
  font-size: clamp(1.5rem, 1.3077rem + 0.7692vw, 2rem);
  line-height: 46px;
  letter-spacing: calc(clamp(1.5rem, 1.3077rem + 0.7692vw, 2rem) / 100 * 4);
  font-weight: 600;
  word-spacing: 2px;
  width: 100%;
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .quote-area__text {
    line-height: 32px;
  }
}
@media only screen and (max-width: 599px) {
  .quote-area__text {
    line-height: 32px;
  }
}
@media only screen and (min-width: 1500px) {
  .quote-area__text {
    width: 50%;
  }
}
.quote-area__item {
  width: 100%;
  height: 230px;
  padding: 30px 0 0 60px;
  position: relative;
}
@media only screen and (max-width: 599px) {
  .quote-area__item {
    padding-left: 20px;
    padding-top: 0;
  }
}
.quote-area__author {
  font-family: "PlayfairDisplay";
  font-size: 20px;
  padding-top: 40px;
  font-style: italic;
  letter-spacing: 1.2px;
}

.quote-ico {
  position: absolute;
  top: 0;
  left: 0;
}