// @import url(../mixins/media.css);
@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 599px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 600px) and (max-width: 899px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }
}

.info {
  @include respond-to(tablet) {
    flex-direction: column;
  }
  @include respond-to(phone) {
    flex-direction: column;
  }
  margin-top: 5px;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  &__text_text-container {
    width: 400px;
    height: 389px;
  }
  &__picture {
    width: 570px;
    height: 100%;
  }
  &__text {
    width: 770px;
    height: 580px;
    background-color: rgba(12, 16, 35, 0.8);
    display: flex;
    position: relative;
    right: 15%;
    padding: 45px 0;
  }
  &__text_achievement {
    position: relative;
    width: 370px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__text_text-container .description:first-child {
    padding-bottom: calc(18px / 100 * 166);
  }
  &__text_text-container .description:nth-child(2) {
    padding-bottom: 50px;
  }
  &__achievement_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
.info__achievement_item:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: translateX(50%);
  width: 100px;
  height: 1px;
  background-color: var(--text-italic-color);
}
.achievement__title {
  font-family: "PlayfairDisplay";
  font-size: 68px;
  line-height: 72px;
  font-weight: 400;
}
.dolar-sign {
  font-size: 40px;
  line-height: 50px;
}
.achievement__item_title {
  display: inline-block;
  font-size: 68px;
  line-height: 72px;
  font-weight: 400;
  font-family: "PlayfairDisplay";
}
