.info {
  width: 1170px;
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.info__text_text-container {
  width: 400px;
  height: 389px;
}
.info__picture {
  width: 570px;
  height: 100%;
}
.info__text {
  width: 770px;
  height: 580px;
  background-color: rgba(12, 16, 35, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 15%;
  padding: 45px 0;
}
.info__text_achievement {
  position: relative;
  width: 370px;
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info__text_text-container .description:first-child {
  padding-bottom: 29.88px;
}
.info__text_text-container .description:nth-child(2) {
  padding-bottom: 50px;
}
.info__achievement_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.info__achievement_item:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: translateX(50%);
  width: 100px;
  height: 1px;
  background-color: var(--text-italic-color);
}

.achievement__title {
  font-family: "PlayfairDisplay";
  font-size: 68px;
  line-height: 72px;
  font-weight: 400;
}

.dolar-sign {
  font-size: 40px;
  line-height: 50px;
}

.achievement__item_title {
  display: inline-block;
  font-size: 68px;
  line-height: 72px;
  font-weight: 400;
  font-family: "PlayfairDisplay";
}