@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

body {
  font-family: "Montserrat";
  font-weight: 400;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  font-size: 18px;
}
.header {
  height: 80px;
  width: 1440px;
}
.header_nav_container {
  position: absolute;
  width: 1200px;
  margin: 0 120px;
  margin: 17px 120px;
}
.header_nav_container .header_button:last-child {
  background-color: #ff9900;
  width: 110px;
  height: 46px;
  border: none;
  color: #fff;
}
.header_nav_container .header_button:first-child {
  background-color: #fff;
  width: 110px;
  height: 46px;
  border: none;
  color: #2f281e;
}
.header_menu_item_blok {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
.header_nav_item_blok {
  display: inline-block;
}
.header_menu_item a {
  color: #2f281e;
  line-height: 28px;
  text-decoration: none;
}
.header_menu_item {
  display: inline-block;
  margin-left: 20px;
}
.logo_link img:first-child {
  width: 33px;
  height: 30px;
}
.logo_link img:nth-child(2) {
  width: 154px;
  height: 30px;
  margin-left: 2px;
}
.header_nav_item_blok {
  width: 252px;
  height: 46px;
}
.button {
  border: none;
  width: 110px;
  padding: 0;
  width: 180px;
  height: 50px;
  background-color: #ff9900;
  font-size: 16px;
  color: #fff;
}
#main_menu_item {
  color: #ff9900;
}
.header_menu {
  align-items: center;
}
.header_nav_button_blok {
  position: absolute;
  display: inline-block;
  right: -25px;
  width: 252px;
  height: 46px;
}
.hero {
  position: relative;
  width: 1200px;
  margin-top: 87px;
  padding: 0 104px 98px 120px;
}
.hero_text_blok {
  position: absolute;
  margin: 72px 0 98px;
  width: 500px;
  height: 301px;
}
h1 {
  font-size: 44px;
  font-weight: bold;
  line-height: 54px;
}
.hero_text_item {
  margin-top: 30px;
  margin-bottom: 31px;
  line-height: 28px;
}
.hero_img {
  left: 676px;
  top: -25px;
  position: absolute;
}
