@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "fontAwesome";
  src: url(../../fonts/font-awesome/fa-regular-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sourceSansPro";
  src: url(../../fonts/source-sans-pro/sourcesanspro.woff2) format("woff2");
  font-weight: 400;
}
.footer {
  background-image: url(../../img/retina/Backgroundfooter.webp);
  width: 100vw;
  height: 549px;
  background-size: cover;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .footer {
    height: 349px;
  }
}
@media only screen and (max-width: 602px) {
  .footer {
    height: 349px;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 770px;
  width: 80%;
  height: 112px;
  margin: 0 auto;
  padding-top: 203px;
}
@media only screen and (max-width: 602px) {
  .footer__container {
    padding-top: 103px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.rights {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-top: 41px;
}