@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "fontAwesome";
  src: url(../../fonts/font-awesome/fa-regular-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sourceSansPro";
  src: url(../../fonts/source-sans-pro/sourcesanspro.woff2) format("woff2");
  font-weight: 400;
}
.footer {
  background-image: url(../../img/retina/Backgroundfooter.webp);
  width: 100%;
  height: 549px;
  background-size: cover;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 770px;
  height: 112px;
  margin: 0 auto;
  padding-top: 203px;
}

.rights {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-top: 41px;
}