@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "fontAwesome";
  src: url(../../fonts/font-awesome/fa-regular-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sourceSansPro";
  src: url(../../fonts/source-sans-pro/sourcesanspro.woff2) format("woff2");
  font-weight: 400;
}
.map {
  width: 100%;
  height: 650px;
  background-color: aquamarine;
  position: relative;
}
.map__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.map__content_right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
  height: 195px;
}
.map__getInTouch {
  position: relative;
  background-color: #fff;
  width: 819px;
  height: 450px;
  padding: 60px 109px 69px 60px;
  top: 350px;
  left: 380px;
}

.button__submit {
  width: 140px;
  height: 50px;
}

.getInTouch__head {
  width: 332px;
  height: 84px;
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2c4058;
  margin: 0 auto;
}
.getInTouch__head::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 365px;
  width: 100px;
  height: 1px;
  background-color: #2c4058;
}

.form__header {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: 100%;
  height: 41px;
}
.form__header::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #2c4058;
}

.form {
  margin-top: 33px;
}

#email {
  margin-bottom: 30px;
  width: 100%;
  height: 41px;
}