.hero {
  width: 521px;
  height: auto;
  .description_margin {
    margin: 20px 0 50px;
  }
}
.description {
  line-height: 26px;
}
.h1 {
  font-family: "PlayfairDisplay";
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
}
.text-italic {
  font-style: italic;
  color: var(--text-italic-color);
}
.link {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #53f3cd;
  letter-spacing: calc(20px / 100 * 8);
  text-transform: uppercase;
  text-decoration: none;
}
.link::after {
  position: absolute;
  content: "";
  width: 98%;
  height: 13px;
  background-color: rgb(83, 243, 205, 0.3);
  bottom: -2px;
  left: 8%;
}
