@font-face {
  font-family: "montserrat";
  src: url(woff2/Montserrat-Bold.woff2) format("woff2"),
    url(ttf/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "montserrat";
  src: url(woff2/Montserrat-Medium.woff2) format("woff2"),
    url(ttf/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "montserrat";
  src: url(woff2/Montserrat-SemiBold.woff2) format("woff2"),
    url(ttf/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
