.contacts {
  width: 100%;
  height: 300px;
  border-top: 1px solid #515773;
  padding-top: 60px;
  &__text_block {
    width: 470px;
    height: 120px;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__text_title {
    font-family: "PlayfairDisplay";
    font-size: 40px;
    font-weight: 400;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 240px;
  }
}
.form-container {
  width: 470px;
  height: 240;
}
form > input:not(:last-child),
form > textarea {
  display: block;
  border: none;
  background-color: var(--theme-color);
  width: 100%;
  border-bottom: 1px solid var(--divider-color);
  height: 32px;
}

form > input:last-child {
  width: 173px;
  height: 24px;
}

#user-name::placeholder,
#user-email::placeholder,
#tell-more::placeholder {
  font-style: italic;
  font-family: "PlayfairDisplay";
  font-size: 18px;
  line-height: 20px;
  letter-spacing: calc(18px / 100 * 8);
}
.form-container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submit-link {
  width: 190px;
  height: 24px;
  border: none;
  background-color: var(--theme-color);
  font-weight: 700;
}
