.contacts {
  width: 100%;
  height: 300px;
  border-top: 1px solid #515773;
  padding-top: 60px;
}
.contacts__text_block {
  width: 470px;
  height: 120px;
  margin-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__text_title {
  font-family: "PlayfairDisplay";
  font-size: 40px;
  font-weight: 400;
}
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}