table,
th,
td,
tr {
  border: 1px solid;
  border-collapse: collapse;
}

th {
  width: 200px;
}

tr {
  height: 30px;
}

tbody tr th {
  font-size: 12px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

thead th {
  cursor: pointer;
}

.resizeBox {
  position: relative;
  width: 300px;
  height: 100px;
  border: solid 1px black;
  padding: 15px;
}

.corner {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: nw-resize;
}

.edit_area {
  display: none;
  width: 100%;
  height: 100%;
}

.edit_container {
  width: 700px;
  height: 200px;
}

.text {
  width: 100%;
  height: 100%;
}