@font-face {
  font-family: "Open SansB";
  src: url("../fonts/open-sans/static/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open SansR";
  src: url("../fonts/open-sans/static/OpenSans-Regular.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open SansR";
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: auto;
  height: 80px;
  margin-bottom: 12px;
}
.primary_nav {
  margin: 25px auto;
  width: 496px;
  height: 30px;
}
.main_nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #828282;
}
.active_page {
  font-family: "Open SansB";
  color: #070707;
}
hr {
  width: 970px;
  height: 1px;
  background-color: #828282;
}
.entry_content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 970px;
  height: 497px;
}
h1 {
  margin-top: 0;
  font-family: "Open SansB";
  font-size: 48px;
  font-weight: bold;
}
h2 {
  font-family: "Open SansB";
  font-size: 34px;
  font-weight: bold;
}
.about {
  background-color: #f6f6f6;
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.about_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 480px;
  height: 60%;
}
.about_info_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
}
.program_list li {
  display: inline-block;
}

.skills {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 564px;
}
.skills_heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: auto;
}
.skills_heading > p {
  margin-top: 20px;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  width: 100%;
  background-color: #f6f6f6;
}

.portfolio > h2 {
  margin-bottom: -20px;
}
.portfolio_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.portfolio_item > img {
  margin-bottom: 40px;
}
.contacts {
  margin-bottom: 100px;
  margin-top: 70px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.contacts_header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 106px;
}
.contacts_text_item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.contacts_text_item > p {
  font-size: 14px;
  color: #828282;
}
.button {
  width: 180px;
  height: 44px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 22px;
  background-color: #070707;
}
.social_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  margin-top: 30px;
}
.social_network_icon {
  width: 40px;
  height: 40px;
}
.contact_icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
