@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 970px;
  border-bottom: 1px solid black;
}
header {
  width: auto;
  height: 80px;
  margin-bottom: 12px;
}
.primary_nav {
  margin: 25px auto;
  padding: 6px 0;
  width: 496px;
  height: 30px;
}
.main_nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main_nav > li:hover {
  text-shadow: 1px 1px 1px #000;
}
.main_nav > li {
  text-shadow: 1px 1px 1px #fff;
}

.main_nav > li > a {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #828282;
}
.active_page {
  font-family: "Open Sans";
  color: #070707;
}
.entry_content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 970px;
  height: 497px;
}
h1 {
  font-family: "Open Sans";
  font-weight: 700;
  margin-top: 0;
  padding-top: 5px;
  font-size: 48px;
}
h2 {
  font-family: "open Sans";
  font-size: 34px;
  font-weight: bold;
}
.about {
  background-color: #f6f6f6;
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 85px 0;
}
.about_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 480px;
  height: 60%;
}
.about_info_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  margin-bottom: -9px;
}

.about_info > * {
  align-items: center;
}

.program_list li {
  display: inline-block;
}

.skills {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 564px;
}
.skills_heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.skills_heading > p {
  margin-top: 20px;
}
.program_list {
  display: flex;
  justify-content: space-between;
  width: 1050px;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  width: 100%;
  background-color: #f6f6f6;
}

.portfolio > h2 {
  margin-bottom: -20px;
}
.portfolio_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 73px;
}
.fashion_link_blok {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.fashion_link {
  text-decoration: underline;
  width: 260px;
  text-align: center;
}
.program_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  width: 170px;
  height: 230px;
}
.program_list_item_blok {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: 143px;
}

.program_list_item_blok > img {
  margin-bottom: 20px;
}

.program_list_item_caption {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2%;
  color: #828282;
  text-align: center;
}
.program_list_item_stars {
  display: flex;

  margin-top: 60px;
}
.program_list_item_stars > img {
  width: 26px;
  margin-left: 4px;
  margin-right: 4px;
  height: 26px;
}

.portfolio_item > img {
  margin-bottom: 41px;
}
.contacts {
  margin-bottom: 100px;
  margin-top: 100px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.contacts_header {
  padding-top: 6px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 106px;
}
.contacts_text_item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.contacts_text_item_connect {
  font-size: 18px;
  color: #828282;
  text-align: center;
}
.contacts_text_item > p {
  font-size: 14px;
  color: #828282;
}
.button {
  width: 180px;
  height: 44px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 22px;
  background-color: #070707;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(74, 70, 66);
}
.social_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  margin-top: 30px;
}
.social_network_icon {
  width: 40px;
  height: 40px;
}
.social_network_icon:hover {
  opacity: 0.5;
}
.contact_icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
