@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "fontAwesome";
  src: url(../../fonts/font-awesome/fa-regular-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sourceSansPro";
  src: url(../../fonts/source-sans-pro/sourcesanspro.woff2) format("woff2");
  font-weight: 400;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero__subtext {
  margin-top: 30px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: white;
  letter-spacing: 5.4px;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .hero__subtext {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 602px) {
  .hero__subtext {
    font-size: 2vw;
  }
}
.hero-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 35%;
  right: 52px;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .hero-dots {
    gap: 20px;
    right: 32px;
  }
}
@media only screen and (max-width: 602px) {
  .hero-dots {
    gap: 20px;
    right: 32px;
  }
}
.hero-dots li {
  position: relative;
}
.hero-dots li.slick-active button:before {
  background: #fff;
}
.hero-dots li button {
  color: transparent;
  background: transparent;
  border-color: transparent;
}
.hero-dots li button:before {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  border: solid 1px #fff;
  background: transparent;
}
@media only screen and (max-width: 602px) {
  .hero-dots li button:before {
    width: 5px;
    height: 5px;
  }
}

.slider {
  width: 100vw;
  height: 100vh;
  background-image: url(../../img/retina/heromask.webp), url(../../img/retina/hero-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .slider {
    background-image: url(../../img/desctop/heromask.webp), url(../../img/desctop/hero-background.webp);
  }
}
@media only screen and (max-width: 602px) {
  .slider {
    background-image: url(../../img/tablet/webp/heromask.webp), url(../../img/tablet/webp/hero-background.webp);
  }
}
.slider__item {
  width: 100%;
  height: 100%;
  background-size: cover;
  padding-top: 25vh;
}
.slider__item_content {
  position: relative;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 925px;
  height: 420px;
  margin: 0 auto;
  padding: 114px 0;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .slider__item_content {
    width: 57vw;
    height: 50vw;
  }
}
@media only screen and (max-width: 602px) {
  .slider__item_content {
    width: 57vw;
    height: 32vw;
  }
}
.slider__item_content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: clamp(2.5rem, 1.6667rem + 3.3333vw, 5rem);
  letter-spacing: 8px;
  color: #fff;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  h1 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 602px) {
  h1 {
    font-size: 5vw;
  }
}

.arrows {
  position: relative;
  top: 10vh;
  width: 42px;
  height: 40px;
}