@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "fontAwesome";
  src: url(../../fonts/font-awesome/fa-regular-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sourceSansPro";
  src: url(../../fonts/source-sans-pro/sourcesanspro.woff2) format("woff2");
  font-weight: 400;
}
@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 602px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 603px) and (max-width: 912px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 913px) {
      @content;
    }
  }
}
.slider {
  width: 100%;
  height: auto;
  background-image: url(../../img/retina/hero-background.webp);
  background-repeat: no-repeat;
  &__item {
    background-image: url(../../img/retina/heromask.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    padding: 223px 0 50px;
    &_content {
      position: relative;
      left: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 925px;
      height: 420px;
      margin: 114px auto;
      @include respond-to(tablet) {
        width: 57vw;
        height: 32vw;
        margin: 0 auto;
      }
      @include respond-to(phone) {
        width: 57vw;
        height: 32vw;
        margin: 0 auto;
      }
      &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
.hero {
  position: relative;
  width: 100%;
  height: 800px;
  &__subtext {
    margin-top: 20px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    color: white;
    letter-spacing: calc(18px / 100 * 30);
    @include respond-to(tablet) {
      font-size: 2vw;
    }
    @include respond-to(phone) {
      font-size: 2vw;
    }
  }
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 8px;
  color: #fff;
  @include respond-to(tablet) {
    font-size: 5vw;
  }
  @include respond-to(phone) {
    font-size: 5vw;
  }
}
.hero-dots {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 35%;
  right: 52px;
  @include respond-to(tablet) {
    gap: 20px;
    right: 32px;
  }
  @include respond-to(phone) {
    gap: 20px;
    right: 32px;
  }
}
.hero-dots li {
  position: relative;
}
.hero-dots li button {
  color: transparent;
  background: transparent;
  border-color: transparent;
}
.hero-dots li button:before {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  border: solid 1px #fff;
  background: transparent;
  @include respond-to(phone) {
    width: 5px;
    height: 5px;
  }
}
.hero-dots li.slick-active button:before {
  background: #fff;
}
