@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "fontAwesome";
  src: url(../../fonts/font-awesome/fa-regular-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sourceSansPro";
  src: url(../../fonts/source-sans-pro/sourcesanspro.woff2) format("woff2");
  font-weight: 400;
}
.gallery {
  width: 73.125vw;
  height: 722px;
  margin: 150px auto 0;
}
.gallery__head {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #2C4058;
  font-size: clamp(1.5625rem, 1.2656rem + 1.4844vw, 2.75rem);
  height: 84px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .gallery__head {
    height: 10vw;
  }
}
@media only screen and (max-width: 602px) {
  .gallery__head {
    height: 13vw;
  }
}
.gallery__head::before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.gallery__collection {
  width: 100%;
  height: auto;
}