@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "fontAwesome";
  src: url(../../fonts/font-awesome/fa-regular-400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sourceSansPro";
  src: url(../../fonts/source-sans-pro/sourcesanspro.woff2) format("woff2");
  font-weight: 400;
}
.logo-container {
  position: relative;
  max-width: 241px;
  height: 54px;
  width: 33vw;
  margin-right: 10%;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .logo-container {
    margin-right: 5%;
  }
}
@media only screen and (max-width: 602px) {
  .logo-container {
    width: 100vw;
    margin-right: 0;
  }
}

#logo {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icons {
  width: 40px;
  height: 40px;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .icons {
    width: 30px;
    height: 30px;
  }
}

.header {
  margin: 0 auto;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  width: 90%;
  height: 54px;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .header {
    width: 85vw;
    padding-left: 8px;
  }
}
@media only screen and (max-width: 602px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150px;
  }
}
.header__container {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 107px;
  background: transparent;
}
@media only screen and (max-width: 602px) {
  .header__container {
    height: 87px;
  }
}

.socials {
  margin-left: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 602px) {
  .socials {
    display: none;
  }
}
.socials__item {
  width: 40px;
  height: 40px;
}

.socials > *:not(:first-child) {
  margin-left: 10px;
}

.active-list-item::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: white;
}

@media only screen and (max-width: 602px) {
  .nav {
    display: none;
    height: 100%;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 32vw;
  height: 100%;
}
@media only screen and (min-width: 603px) and (max-width: 912px) {
  .nav__list {
    width: 40vw;
  }
}
@media only screen and (max-width: 602px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40vw;
  }
}
.nav__list_item {
  position: relative;
  color: #fff;
  font-family: "sourceSansPro";
  font-size: 14px;
  text-decoration: none;
}
.nav__list_item::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.open {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.burger {
  display: none;
  width: 34px;
  height: 25px;
  position: absolute;
  right: 135px;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
@media only screen and (max-width: 602px) {
  .burger {
    display: block;
    right: 30px;
    top: 40px;
    z-index: 10;
  }
}
.burger span {
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: white;
}
.burger span::after,
.burger span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: white;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger span::before {
  top: 0;
}
.burger span::after {
  bottom: 0;
}
.burger.active span {
  background: none;
}
.burger.active span::before {
  top: 45%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.burger.active span::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}