.logo-container {
  width: 241px;
  height: 54px;
}

.icons {
  fill: transparent;
  width: 39px;
  height: 39px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: blueviolet;
  width: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}