@font-face {
  font-family: "lato";
  src: url(../fonts/Lato/woff2/Lato-Bold.woff2) format("woff2"), url(../fonts/Lato/Lato-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato/woff2/Lato-SemiboldItalic.woff2) format("woff2"), url(../fonts/Lato/Lato-SemiboldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato/woff2/Lato-Semibold.woff2) format("woff2"), url(../fonts/Lato/Lato-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato/woff2/Lato-Light.woff2) format("woff2"), url(../fonts/Lato/Lato-Light.ttf) format("truetype");
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato/woff2/Lato-Regular.woff2) format("woff2"), url(../fonts/Lato/Lato-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "lato";
  src: url(../fonts/Lato/woff2/Lato-Thin.woff2) format("woff2"), url(../fonts/Lato/Lato-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(../fonts/Playfair_Display/woff2/PlayfairDisplay-Italic.woff2) format("woff2"), url(../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(../fonts/Playfair_Display/woff2/PlayfairDisplay-Regular.woff2) format("woff2"), url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf) format("truetype");
}
body {
  font-family: "lato";
  font-weight: 300;
  font-size: 18px;
}