@import url(../variables/variables.css);
@import url(../../fonts/fonts.css);
@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 602px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 603px) and (max-width: 912px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 913px) {
      @content;
    }
  }
}

.partners {
  position: relative;
  background-color: var(--brown-light);
  padding-bottom: 70px;
  &__title {
    position: relative;
    margin-bottom: 40px;
    margin-top: 70px;
    width: 272px;
    height: 40px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    color: #000000;
  }
  &-slider {
    &__item {
      svg {
        width: 100px;
        height: 65px;
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__prev {
      position: absolute;
      left: 0;
      margin-top: -37px;
      top: 50%;
      border: none;
      height: 74px;
      width: 40px;
      background: url(../../pictures/icons/prev.svg);
      background-size: contain;
      &-hovered {
        background: url(../../pictures/icons/next-active.svg);
        transform: rotate(180deg);
      }
      @include respond-to(tablet) {
        height: 30px;
        width: 16px;
      }
      @include respond-to(phone) {
        display: none;
      }
    }
    &__next {
      position: absolute;
      right: 0;
      border: none;
      margin-top: -37px;
      top: 50%;
      height: 74px;
      width: 40px;
      background: url(../../pictures/icons/next.svg);
      background-size: contain;
      &-hovered {
        background: url(../../pictures/icons/next-active.svg);
      }
      @include respond-to(tablet) {
        height: 30px;
        width: 16px;
      }
      @include respond-to(phone) {
        display: none;
      }
    }
  }
  &__container {
    position: relative;
    padding: 0 50px;
  }
}
.partners-dots {
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  @include respond-to(phone) {
    gap: 10px;
    bottom: -60px;
    transform: translateX(-50%);
  }
}
.partners-dots li {
  position: relative;
}
.partners-dots li button {
  color: transparent;
  background: transparent;
  border-color: transparent;
}
.partners-dots li button:before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  background: var(--black);
  @include respond-to(phone) {
    width: 10px;
  height: 10px;
  }
}
.partners-dots li.slick-active button:before {
  background: var(--tomato-light);
}
